body {
    margin: 0;
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.amzn__country__icon {
    background-image: url('./images/amzn-sprite-2.png');
}
.amzn__globeIcon__two {
    background-image: url('./images/amzn-sprite-web.png');
}
.icp__radio, .icp__origin {
    background-image: url('./images/amzn-sprite-2.png');
}

/*Popover panel*/
.popover__panel {
    display: none;
    position: fixed;
    overflow: auto;
    padding-bottom: 0px;
    z-index: 1000;
    color: var(--color);
    visibility: visible;
}
.popover__panel.show {
    display: block;
}
.popover__panel__container {
    position: fixed;
    overflow: auto;
    display: block;
    left: 383px;
    width: 600px;
    min-width: 0;
    max-width: none;
    padding: 0;
    margin: 0px;
    z-index: 1001;
    visibility: visible;
    opacity: 1;
    transform: translateY(8px);
    overflow: hidden;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 14px 0 rgba(15,17,17,.5);
    border: 1px solid;
    border-color: var(--grey-tone-25);
}
.popover__panel__container.region {
    top: 212px;
}
.popover__panel__container.language {
    top: 165.5px;
}
.popover__panel__heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    margin: 0;
    z-index: 10;
    text-align: left;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 -1px 0 rgba(255,255,255,.4) inset;
    border-bottom: 1px solid var(--grey-tone-25);
    background: linear-gradient(to bottom, var(--grey-tone-33),var(--grey-tone-34));
    background-color: var(--grey-tone-31);
    border-radius: 8px 8px 0 0;
}
.popover__panel__title {
    margin: 0;
    padding: 16px 0;
    min-height: 56px;
    margin-right: 28px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
.popover__panel__close {
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    width: 10px;
    height: 9px;
    margin: -21px 0 0;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid;
    border: none;
    cursor: pointer;
}
.popover__close {
    display: inline-block;
    width: 10px;
    height: 9px;
    font-style: italic;
    vertical-align: top;
    opacity: .64;
    background-image: url('./images/amzn-sprite-4.png');
    background-repeat: no-repeat;
    background-size: 400px 900px;
    background-position: -297px -5px;
}
.popover__panel__list {
    display: block;
    margin-left: 1px;
    padding: 2px 12px 1px 11px;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--grey-tone-31) !important;
    color: inherit;
    border: 1px solid transparent
}
