body {
    margin: 0;
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.langToggle {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    color: var(--grey-tone-24);
}
.langToggle.large {
    display: inline-block;
}
.langLink {
    display: inline-block !important;
    padding: 6px 18px 6px 8px;
    margin-right: 4px;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    white-space: normal;
    border: 1px solid var(--grey-tone-29);
    background-color: transparent;
}
.langToggle.large .langLink {
    position: relative;
    min-height: 44px; 
    padding: 0.3rem 1rem 0.5rem 1rem;
    min-width: 150px;
    font-size: 0.875rem;
    line-height: 18px;
    text-align: center;
    white-space: initial;
    font-size: 1rem;
    border: 1px solid var(--white);
    border-radius: 3px;
    text-decoration: none;
    color: var(--white);
}
.langToggle.large .langLink:not(:disabled):not(.disabled):active, 
.langToggle.large .langLink:not(:disabled):not(.disabled).active {
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%) !important;
}
.langToggle.large .langLink:not(:disabled):not(.disabled):active, 
.langToggle.large .langLink:not(:disabled):not(.disabled).active { 
    color: var(--grey-tone-57);
    background-color: var(--grey) !important;
    border-color: var(--grey);
}
.langToggle.large .langLink:hover, .dropdown.show.large .langLink {
    background-color: var(--grey);
    border-color: var(--grey);
    color: var(--bg-light-blue);
    background-color: var(--white) !important;
}
.langToggle.large .langLink:after {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.langLink:not(:disabled):not(.disabled).active, 
.langLink:not(:disabled):not(.disabled):active, 
.show > .langLink.dropdown-toggle,
.langLink:hover {
    background-color: transparent;
    border: 1px solid var(--grey-tone-29) !important;
}
.langToggle.large .amzn__globeIcon {
    display: inline-block;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    text-align: initial;
    color: initial;
    background: none;
    cursor: pointer;
}
.langToggle.large .amzn__globeIcon:before {
    position: relative;
    content: url('../images/globe.svg');
    top: 5px;
    left: -5px;
}
.langToggle.large:hover .amzn__globeIcon:before,
.langToggle.large:focus .amzn__globeIcon:before,
.dropdown.show.large .amzn__globeIcon:before {
    content: url('../images/globe-dark.svg');
    display: inline;
}
.langToggle.large .amzn__logo__base {
    display: initial;
    padding: 0;
    line-height: normal;
    text-align: start;
    color: var(--white);
}
.langToggle.large:hover .amzn__logo__base,
.langToggle.large:focus .amzn__logo__base,
.dropdown.show.large .amzn__logo__base {
    color: var(--grey-tone-57);
}
.langToggle.large .dropdown-menu.show {
    padding: 0;
}
.dropdownMenuLang {
    min-height: 44px;
    font-size: .875rem;
    border-left: 2px solid var(--white);
    padding: 1rem 1.5rem;
    border: 1px solid var(--grey-tone-58);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.dropdownMenuLang:hover, .dropdownMenuLang:focus {
    border-left: 2px solid var(--ochre-35);
    background-color: var(--grey-tone-1);
}
.dropdownMenuPlain .dropdown-menu.show {
    position: absolute;
    right: 0 !important;
    display: block;
    max-height: calc(100vh - 100px);
    min-width: 200px;
    margin: 0;
    padding: 1rem;
    background-color: var(--grey-tone-75);
    border-radius: 0 0 3px 3px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    overflow-y: auto;
}
.dropdownMenuPlain .dropdown-menu.show .dropdown-item {
    padding: .5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-2);
    white-space: nowrap;
    cursor: pointer;
    transition: all .5s;
}

.amzn__country__icon {
    background-image: url('../images/amzn-sprite-2.png');
}
.amzn__globeIcon__two {
    background-image: url('../images/amzn-sprite-web.png');
}
.icp__radio, .icp__origin {
    background-image: url('../images/amzn-sprite-2.png');
}
.apb__browse__refinements__icon {
    position: relative;
    top: 3px;
}

.prime .carousel.slide {
    max-height: none !important;
    height: auto !important;
}
/* .miniSlider {

} */
.carousel-cardText {
    padding: 5px 10px;
    font-size: 15px;
    line-height: 30px;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--blue-7);
}
.prime__carousel .carousel-caption h3 {
    margin-bottom: 20px;
    padding-bottom: 0;
}
.carousel-cardHeadline {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 20px;
}
.carousel-cardBody {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 20px;
}
.carousel-link {
    font-size: 18px;
    color: var(--blue-8) !important;
}
.sprite.small-arrow {
    margin: 0 6px;
    width: 6px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    background-position: -6px -233px;
    background-image: url(../images/amzn-sprite-8.png);
    background-size: 158px auto;
}

.navCart__wrap .a__section {
    max-width: none;
    /* margin-bottom: 22px; */
    margin: 0;
}
.navCart__proceedToCheckout > .a__section {
    margin-bottom: 22px;
}

/*Tabs*/
.tab__switch .nav-item {
    position: relative;
    display: inline-block;
    bottom: -1px;
    margin: 0 10px 0 0;
    list-style: none;
}
.tab__table__details .a__size__base {
    font-size: 13px !important;
}
.tab__switch .nav-item.selected {
    /* border-bottom-color: var(--ochre-5);
    font-weight: 700; */
}
.tab__switch .nav-item a {
    display: inline-block;
    padding: 5px 10px;   
    color: var(--link);
}
.navCart__active .tab__switch .nav-item a {
    color: var(--mainlink);
}
.tab__switch .nav-item.selected a, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--color);
    font-weight: 700;
    border: none;
    border-bottom: 2px solid var(--ochre-5) !important;
}
.nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus {
    text-decoration: none;
}
.navCart__active .tab__switch .nav-item.selected a, 
.navCart__active .nav-tabs .nav-item.show .nav-link, 
.navCart__active .nav-tabs .nav-link.active {
    color: var(--color);
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: var(--ochre-4);
    text-decoration: underline;
}
.orders__count {
    display: inline-block;
    margin-right: .5em;
}
.tab-pane .stretch {
    min-width: 842px;
    max-width: 3840px;
    border-left: 1px solid var(--grey-tone-35);
    border-top: 1px solid var(--grey-tone-35);
    margin-bottom: 22px;
}
.tab-pane.stretch .card__holder {
    min-width: 210px;
    flex-basis: 210px;
    flex-grow: 1;
    background-color: var(--white);
}
.tab-pane .stretch .card {
    width: 100%;
    padding: 20px 22px 14px;
    border-bottom: 1px solid var(--grey-tone-35);
    border-right: 1px solid var(--grey-tone-35);
}
.orders__title {
    margin-left: 26px;
}

/*Popover panel*/
.popover__panel {
    display: none;
    position: fixed;
    overflow: auto;
    padding-bottom: 0px;
    z-index: 1000;
    color: var(--color);
    visibility: visible;
}
.popover__panel.show {
    display: block;
}
.popover__panel__container {
    position: fixed;
    overflow: auto;
    display: block;
    left: 383px;
    width: 600px;
    min-width: 0;
    max-width: none;
    padding: 0;
    margin: 0px;
    z-index: 1001;
    visibility: visible;
    opacity: 1;
    transform: translateY(8px);
    overflow: hidden;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 14px 0 rgba(15,17,17,.5);
    border: 1px solid;
    border-color: var(--grey-tone-25);
}
.popover__panel__container.region {
    top: 212px;
}
.popover__panel__container.language {
    top: 165.5px;
}
.popover__panel__heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    margin: 0;
    z-index: 10;
    text-align: left;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 -1px 0 rgba(255,255,255,.4) inset;
    border-bottom: 1px solid var(--grey-tone-25);
    background: linear-gradient(to bottom, var(--grey-tone-33),var(--grey-tone-34));
    background-color: var(--grey-tone-31);
    border-radius: 8px 8px 0 0;
}
.popover__panel__title {
    margin: 0;
    padding: 16px 0;
    min-height: 56px;
    margin-right: 28px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
.popover__panel__close {
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    width: 10px;
    height: 9px;
    margin: -21px 0 0;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid;
    border: none;
    cursor: pointer;
}
.popover__close {
    display: inline-block;
    width: 10px;
    height: 9px;
    font-style: italic;
    vertical-align: top;
    opacity: .64;
    background-image: url('../images/amzn-sprite-4.png');
    background-repeat: no-repeat;
    background-size: 400px 900px;
    background-position: -297px -5px;
}
.popover__panel__list {
    display: block;
    margin-left: 1px;
    padding: 2px 12px 1px 11px;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--grey-tone-31) !important;
    color: inherit;
    border: 1px solid transparent
}
.popover__panel__country .a__button__text {
    min-width: 150px;
    width: 180px;
}

/*Card*/
.card {
    border-radius: 0;
}
.card__closed {
    position: relative;
    padding-top: 35px;
    padding-bottom: 50px;
}
.card__closed__imgContainer {
    height: 180px;
    margin-bottom: 8px;
}
.card__closed__imgContainer img {
    height: inherit;
    width: auto;
    border-radius: 0;
}
.card__holder .card-title {
    line-height: 1.3em !important;
    max-height: 2.6em;
    margin-bottom: 4px;
}
.card-subtitle {
    margin-top: 0;
    margin-bottom: 2px;
}
.a__cardui {
    overflow: auto;
    padding: 20px 0 15px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--white);
}
.navCart__active {
    overflow: visible;
}
.a__cardui .a__cardui__body {
    position: relative;
    padding: 0 20px;
}
.a__cardui .a__cardui__body:last-child {
    padding-bottom: 5px;
}
.productDropdown {
    position: absolute;
    z-index: 299;
    padding: 8px;
    max-width: none;
    visibility: visible;
    opacity: 1;
}
.navCart__active .productDropdown {
    top: -15px;
    left: 95%;
    border: none;
    background-color: transparent;
}
.a__popover__content {
    position: relative;
    width: 300px;
    margin-top: -21px;
}
.productDropdown__img {
    margin-right: 5px;
}

.cancel__anytime {
    max-width: 440px;
    margin-top: 10px;
    font-size: 14px;
}
.header__links {
    margin: 4px 0 0;
    font-size: 14px;
}
.header__links li {
    list-style: none;
}
.header__links li a {
    color: var(--white);
    text-decoration: underline;
}
.see__more {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 34px;
    color: var(--white);
    cursor: pointer;
    text-decoration: underline;
}
.white__arrow__small {
    display: inline-block;
    width: 6px;
    height: 9px;
    margin: 0 3px 0 6px;
    vertical-align: middle;
    color: var(--white);
    background-position: 0 -233px;
    background-image: url(../images/amzn-sprite-8.png);
    background-size: 158px auto;
}

.primeSticky .prime__cta__signup__button {
    min-width: 320px;
}
.primeSticky .prime__cta__signup__button .a__button__inner {
    height: 44px;
}
.prime__seeMore .dropdown button {
    background-color: transparent;
    border-color: transparent;
}
.primeSticky .prime__cta__signup__button .a__button__inner .a__button__text {
    line-height: 44px;
    font-weight: 700;
    font-size: 16px;
    padding: 0 25px 0 25px;
} 

.coupon__popover .a__ordered__list, .coupon__popover ol {
    margin: 0 0 0 20px;
    color: var(--color);
}
.promoModal.coupon__popover ol, .promoModal.coupon__popover ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.coupon__popover .a__ordered__list li, .coupon__popover ol li {
    list-style: decimal;
}
.coupon__popover .a__ordered__list li, .coupon__popover .a__unordered__list li, 
.coupon__popover.coupon__popover ol li, .coupon__popover ul li {
    word-wrap: break-word;
    margin: 0;
}
.a__unordered__list, ul {
    margin: 0 0 0 18px;
    color: var(--color);
}
.a__ordered__list, .a__unordered__list, ol, ul {
    padding: 0;
}
.coupon__popover .a__ordered__list, .coupon__popover ol, .coupon__popover ul {
    padding: 0;
}
.coupon__popover .a__unordered__list li, .coupon__popover ul li {
    list-style: disc;
}
.a__ordered__list li, .a__unordered__list li, 
ol li, ul li {
    word-wrap: break-word;
    margin: 0;
}
.a__ordered__list.a__nostyle, .a__unordered__list.a__nostyle, 
ol.a__nostyle, ul.a__nostyle {
    margin-left: 0;
    color: var(--color);
}
.a__ordered__list .a__list__item, .a__unordered__list .a__list__item, 
ol .a__list__item, ul .a__list__item {
    color: var(--color);
}
.a__ordered__list.a__horizontal, .a__unordered__list.a__horizontal, 
ol.a__horizontal, ul.a__horizontal {
    display: block;
    margin-left: 0;
}
.a__ordered__list.a__horizontal li, .a__unordered__list.a__horizontal li, 
ol.a__horizontal li, ul.a__horizontal li {
    display: inline-block;
    margin: 0 10px 0 0;
}
nav ol, nav ul:not(.list), .list--reset ol, .list--reset ul:not(.list) {
    margin: 0;
    padding: 0;
    list-style: none;
}
.a__checkbox.a__checkbox__fancy, .a__radio.a__radio__fancy {
    position: relative;
}
.a__checkbox label, .a__radio label {
    position: relative;
    top: -2px;
    padding-left: 15px;
    padding-bottom: 0;
    margin-left: 3px;
    font-weight: 400;
    color: var(--color);
    text-indent: -15px;
    cursor: pointer;
}
.a__checkbox__fancy label, .a__radio__fancy label {
    padding-left: 19px;
    text-indent: -19px;
    cursor: pointer;
}
.a__checkbox__fancy input {
    height: 16px !important;
    width: 16px !important;
}
.a__checkbox.a__checkbox__fancy input, .a__radio.a__radio__fancy input {
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: auto;
    padding: 0;
    margin: 0;
    z-index: -1;
    opacity: .02;
    border: 0 none;
    outline: 0 none;
    cursor: pointer;
}
.a__checkbox__fancy .a__icon__checkbox {
    vertical-align: middle;
    height: 16px;
    width: 16px;
    background-image: url('../images/amzn-sprite-4.png');
    background-position: -6px -274px;
}
.a__checkbox__fancy .a__icon__checkbox, .a__checkbox__fancy.a__hover__disable:hover .a__icon__checkbox {
    background-position: -6px -274px;
}
.a__checkbox__fancy .a__icon__checkbox {
    background-position: -453px -3px !important;
}
.a__checkbox__fancy .a__icon__checkbox.ticked {
    background-position: -475px -40px !important;
}
.a__checkbox__fancy:hover .a__icon__checkbox {
    background-position: -435px -3px!important;
}
.a__checkbox.a__checkbox__fancy .a__icon.a__icon__checkbox, 
.a__checkbox.a__checkbox__fancy .a__icon.a__icon__checkbox:after {
    border-radius: 2px;
}
.a__checkbox__label, .a__radio__label {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    text-indent: 0;
}
.a__checkbox__fancy .a__checkbox__label, .a__checkbox__fancy .a__radio__label, 
.a__radio__fancy .a__checkbox__label, .a__radio__fancy .a__radio__label {
    top: 1px;
    vertical-align: middle;
}
.a__checkbox.a__checkbox__fancy .a__label, .a__radio.a__radio__fancy .a__label {
    font-weight: 400;
}

.browserBox {
    flex: 0 0 200px;
    width: 200px !important;
    height: max-content;
    padding-right: 6px;
    padding-bottom: 18px;
    border-right: 2px solid var(--grey-tone-24);
    word-break: break-word;
}
.browserBox a:hover, .browserBox a:hover span {
    color: var(--ochre-4) !important;
    text-decoration: none;
}
.apBrowse {
    padding-left: 12px;
}
.sideMenu li label {
    margin-left: 0;
}
.octopus__pc__category__card__v2 {
    margin: 35px 0px;
    min-width: 794px;
    max-width: 2573px;
    background-color: var(--white);
}
.octopus__pc__category__card__v2__item {
    overflow: hidden;
    height: 278px;
    max-width: 330px;
    min-width: 198px;
    margin: 0 !important;
    text-align: center;
}

.sl__sobe__card__desktop {
    width: 100%;
    padding: 10px 0;
    background-color: var(--grey-tone-34);
}
.sl__sobe__card__desktop > div {
    max-width: 1500px;
    margin: 0 auto;
}
.sobe__d__b__1__container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1540px;
    padding: 0 20px;
    margin: 0 auto;
}
.sobe__d__b__2__container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 20px;
}
.sobe__d__b__1__carousel {
    width: 100%;
    padding: 20px 20px;
    height: 100%;
    background-color: var(--white);
}
.sobe__d__b__2__carousel {
    padding: 20px 20px;
    height: 100%;
    width: 100%;
    background-color: var(--white);
}
.sl__sobe__carousel__header {
    font-size: 0;
    line-height: normal;
}
.sl__sobe__carousel__header > h2, .sl__sobe__carousel__header > a {
    display: inline-block;
    line-height: normal;
}
.sl__sobe__carousel__header > h2 {
    font-size: calc(0.8vw + 10px);
    padding: 0;
}
.sobe__d__b__2__carousel__viewport__container {
    position: relative;
}
.sl__sobe__carousel__viewport {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
    white-space: nowrap;
}
.sobe__d__b__2__carousel[userInputType="mouse"] .sl__sobe__carousel__viewport {
    overflow-x: hidden;
}
.sl__sobe__carousel__viewport__row {
    margin: 0;
    padding: 0;
}
.sobe__d_b__2__carousel .sl__sobe__carousel__viewport__row {
    height: 100.0%;
}
.sobe__d__b__2__carousel .sl-sobe-carousel-viewport-row {
    height: 100.0%;
}
.sl__sobe__carousel__viewport__row__inner {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid maroon;
}
.sobe__d__b__1__carousel__viewport__container {
    position: relative;
    overflow: hidden;
}

.sl__sobe__carousel__sub__card:first-of-type {
    margin-left: 0 !important;
}
.sobe__d__b__2__carousel .sl__sobe__carousel__sub__card {
    width: 15.547945205479452%;
    margin-left: 1.3424657534246578%;
    padding-top: 1.36986301369863%;
}
.sobe__d__b__2__carousel .sl__sobe__carousel__sub__card__image {
    position: relative;
    display: block;
    width: 100%;
    max-width: 227px;
    max-height: 117px;
}
.sobe__d__b__2__carousel .sl__sobe__carousel__sub__card__image::before {
    content: "";
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 51.541850220264315%;
}
.sl__sobe__carousel__sub__card__img {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}
.sobe__d__b__2__carousel .sl__sobe__carousel__sub__card__image__overlay {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
}

.sobe__d__b__1__carousel__viewport__container .primary__layout__inner 
/*.carousel__detailed__layout__inner*/ {
    padding: 0 !important;
}
.sl__sobe__carousel__sub__card {
    position: relative;
    display: inline-block;
    height: 100%;
    max-height: 100%;
    margin-left: 20px;
    vertical-align: top;
}
.sobe__d__b__1__carousel__viewport__container .amzn__carousel__cards {
    margin-bottom: 0;
}
.sobe__d__b__1__carousel__viewport__container .amzn__carousel__cards figure {
    height: auto;
}
.sobe__d__b__1__carousel__viewport__container .amzn__carousel__cards figcaption {
    display: none;
}
.sobe__d__b__1__carousel__viewport__container .amzn__carousel__cards > li {
    min-height: 0;
}
.sobe__d__b__1__carousel__viewport__container .carousel.slide {
    height: auto;
}

.gift__image__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    z-index: 100;
}
.gift__image {
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 0.08em;
    word-break: keep-all;
    font-family: var(--font-primary);
}
.a__input__text__addon__group__wrapper {
    display: inline-block;
    vertical-align: middle;
}
.a__width__medium {
    width: 175px !important;
}
.a__input__text__addon__group {
    position: relative;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
}
.a__input__text__addon, .a__input__text__addon__group .a__input__text {
    display: table-cell;
    vertical-align: middle;
}
.a__input__text__addon {
    width: 1%;
    padding: 3px 7px;
    line-height: 1;
    text-align: center;
    border: 1px solid var(--grey-tone-36);
    border-radius: 3px;
    white-space: nowrap;
    background-color: var(--grey-tone-31);
}
.a__input__text__addon__group .a__input__text__wrapper:not(:last-child), 
.a__input__text__addon__group .a__input__text:not(:last-child), 
.a__input__text__addon:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.a__input__text__addon:first-child {
    border-right: 0;
}

.welcome__msg {
    display: table;
    padding: 25px;
    color: var(--color-2);
    font-size: 27px;
    margin: auto;
}

.text__appendage {
    font-size: 12px;
    font-family: var(--font-tertiary);
}
.text__appendage h2 {
    margin: 0 0 0.35em 0px;
    padding: 0;
    font-size: 135%;
    font-weight: bold;
    color: var(--ochre-5);
}
.text__appendage p {
    margin: 0 0 0.5em 0;
    line-height: 1.4em;
}

.pad__center {
    padding: 0 21px 0 21px;
    margin-left: 0;
    margin-right: 0;
}

.jobs {
    font-size: 1rem;
    line-height: 1.5;
}
.jobs h1 {
    font-weight: bold;
    line-height: 2.5rem;
}
.secondaryHeader a {
    line-height: 1.5rem;
}
.navbar__neutral {
    background-color: var(--blue-9);
}
.hamburger {
    position: relative;
    width: 40px;
    height: 45px;
    margin: 12px;
    background: url('../images//nav/hamburger-menu-white.svg') 0px no-repeat;
    background-size: 35px 40px;
    cursor: pointer;
}
.hamburgerBlock {
    height: 64px;
}
.navbar__link a:link {
    word-wrap: break-word;
    color: var(--white);
}
nav.navbar .navbar-brand {
    height: 65px;
    /* width: 105px; */
    margin-right: 30px;
}
.secondaryHeader .navbar-brand {
    padding-top: 0;
}
.secondaryHeader .logo {
    height: 27px;
    margin-top: 15px;
    background: url('../images//nav/amazon-jobs.svg') center center no-repeat;
    background-size: 100px;
}

.mediaIcons {
    padding: 0;
}
.mediaIcons .mediaGroup {
    padding-top: 20px;
}
.cxt__icon__common {
    display: inline-block;
    height: 37px;
    width: 37px;
    padding: 5px 6px 8px 6px;
    margin-right: 15px;
    font-size: 25px;
    border-radius: 3px;
    color: var(--white);
    text-decoration: none;
}
.cxt__icon__facebook {
    background-color: var(--facebook);
    border-bottom: 1px solid var(--facebook-bottom-border);
}
.cxt__icon__linkedin {
    background-color: var(--linkedin);
    border-bottom: 1px solid var(--linkedin-bottom-border);
}
.cxt__icon__instagram {
    background-color: var(--instagram);
    border-bottom: 1px solid var(--instagram-bottom-border);
}
.cxt__icon__twitter {
    background-color: var(--twitter);
    border-bottom: 1px solid var(--twitter-bottom-border);
}
.media__icons .media__group__border {
    flex-basis: 100%;
    height: 2px;
    margin: 10px 0 0 0;
}
.Dropdown-control {
    cursor: pointer !important;
}
.filter__button > button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0 1rem;
    overflow: visible;
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: var(--mid-grey);
    font-size: 1.9rem;
    border-radius: 0;
    box-shadow: none;
    white-space: nowrap;
    font-weight: 300;
    opacity: .7;
    border: rgba(0,0,0,0);
    border-bottom: 1px solid var(--color-2);
    background: rgba(0,0,0,0);
}
.filter__button .dropdown-menu {
    position: absolute;
    top: auto;
    left: auto;
    min-width: 110%;
    padding: .5rem;
    margin: 0;
    font-size: .9rem;
    color: var(--mid-grey);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: var(--grey-tone-76);
    border: 0;
    border-radius: 0;
    z-index: 2;
}
.filter__button .dropdown-item-text {
    padding: 0;
    color: var(--mid-grey);
}
.filter__button .dropdown-item-text label {
    display: inline-block;
    margin-bottom: auto;
    padding-left: .5rem;
    padding-bottom: 0;
}
.filter__buttonReset + .filter__heading {
    padding: 0 0 .5rem;
    color: var(--color-2);
    font-weight: 600;
    border-radius: 0;
}
.filter__multiInner {
    padding: .5rem 0;
}
.filter__multiInner input[type="checkbox"] {
    position: absolute;
    padding: 0;
    opacity: 0;
}
.filter__button .filter__multiInner label {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
    margin-bottom: .5rem;
    font-weight: 700;
    -webkit-box-align: center;
    white-space: nowrap;
    line-height: 1;
    cursor: pointer;
}
.filter__multiInner label:before {
    position: absolute;
    content: "";
    display: inline-block;
    left: 0;
    top: 0;
    height: 12px;
    width: 12px;
    border: 1px solid;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
}
.filter__multiInner label:hover:before {
    box-shadow: 0 0 2px 1px var(--link-2);
}
.column h1, .column h2, .column h3, .column h4, .column h5, .column h6 {
    margin: 0 0 .5rem;
    line-height: 1.4;
    font-weight: 300;
    background-color: rgba(0,0,0,0);
}
.column h1.color__normal, .column h2.color__normal, .column h3.color__normal, 
.column h4.color__normal, .column h5.color__normal, .column h6.color__normal {
    color: var(--color-2);
}
.column h1.heading.heading__size--xtra--small, .column h2.heading__size--small, 
.column h3, .column h3.heading__size--normal, .column h4.heading__size--medium, 
.column h5.heading-size--large {
    font-size: 1.75rem;
}
.column p {
    margin: 0 0 1rem;
    line-height: 1.5;
    font-weight: 300;
}
.column .text {
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(0,0,0,0);
}
.column .text__size--medium {
    font-size: 1.313rem;
    font-weight: 300;
}
.column .text.color__normal {
    color: var(--mid-grey);
}
.column {
    cursor: pointer;
    display: inline-block;
    color: var(--link-2);
    text-decoration: none;
}
.column a.link__type__button__secondary, .column a.link__type__normal {
    cursor: pointer;
    display: inline-block;
    color: var(--link-2);
    background: rgba(0,0,0,0);
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    padding: .5rem 0;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
}
.column a.link__type__normal {
    text-transform: none;
}
.column a.link__type__button__secondary:after, .column a.link__type__normal:after {
    padding-left: 4px;
    content: "\2192";
}

.header__row {
    padding-top: 6px;
    padding-bottom: 3px;
    background-color: var(--grey-tone-69);
}
.header__content {
    margin: 0 auto;
    max-width: 980px;
    min-width: 980px;
}
.mallomar-delight-feedback-icons {
    height: 17px;
    width: 37px;
    background-image: url('../images/delight-feedback-icons.png');
    cursor: pointer;
}
img.mallomar-delight-feedback-icons, 
img.mallomar-delight-feedback-icons-large, 
img.mallomar-delight-feedback-icons-large-delighted, 
img.mallomar-delight-feedback-icons-large-disappointed, 
img.mallomar-delight-feedback-icons-large-satisfied {
    height: 17px;
    width: 37px;
    background-image: url('../images/delight-feedback-icons.png');
    cursor: pointer;
}
img.mallomar-delight-feedback-icons-large, 
img.mallomar-delight-feedback-icons-large-delighted, 
img.mallomar-delight-feedback-icons-large-disappointed, 
img.mallomar-delight-feedback-icons-large-satisfied {
    height: 64px;
    width: 64px;
}
img.mallomar-delight-feedback-icons-large-delighted {
    background-position: 0 -19px;
}
img.mallomar-delight-feedback-icons-large-satisfied {
    background-position: -66px -19px;
}
img.mallomar-delight-feedback-icons-large-disappointed {
    background-position: -132px -19px;
}







@media (min-width: 576px) {
    .media__icons .media__group__border {
        margin: 19px 0 0 0;
        background: rgba(0,0,0,0.15);
    }
}
@media (min-width: 992px) {
    .langToggle.large .langLink {
        min-width: 200px;
    }
}

