body {
    margin: 0;
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.amzn__country__icon {
    background-image: url('./images/amzn-sprite-2.png');
}
.amzn__globeIcon__two {
    background-image: url('./images/amzn-sprite-web.png');
}
.icp__radio, .icp__origin {
    background-image: url('./images/amzn-sprite-2.png');
}


.navCart__wrap .a__section {
    max-width: none;
    /* margin-bottom: 22px; */
    margin: 0;
}

/*Tabs*/
.tab__switch .nav-item {
    position: relative;
    display: inline-block;
    bottom: -1px;
    margin: 0 10px 0 0;
    list-style: none;
}
.tab__table__details .a__size__base {
    font-size: 13px !important;
}
.tab__switch .nav-item.selected {
    /* border-bottom-color: var(--ochre-5);
    font-weight: 700; */
}
.tab__switch .nav-item a {
    display: inline-block;
    padding: 5px 10px;   
    color: var(--link);
}
.navCart__active .tab__switch .nav-item a {
    color: var(--mainlink);
}
.tab__switch .nav-item.selected a, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--color);
    font-weight: 700;
    border: none;
    border-bottom: 2px solid var(--ochre-5);
}
.navCart__active .tab__switch .nav-item.selected a, 
.navCart__active .nav-tabs .nav-item.show .nav-link, 
.navCart__active .nav-tabs .nav-link.active {
    color: var(--color);
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: var(--ochre-4);
    text-decoration: underline;
}
.orders__count {
    display: inline-block;
    margin-right: .5em;
}
.tab-pane .stretch {
    border-left: 1px solid var(--grey-tone-35);
    border-top: 1px solid var(--grey-tone-35);
    min-width: 842px;
    max-width: 3840px;
    margin-bottom: 22px;
}
.tab-pane.stretch .card__holder {
    min-width: 210px;
    flex-basis: 210px;
    flex-grow: 1;
    background-color: var(--white);
}
.tab-pane .stretch .card {
    width: 100%;
    padding: 20px 22px 14px;
    border-bottom: 1px solid var(--grey-tone-35);
    border-right: 1px solid var(--grey-tone-35);
}
.orders__title {
    margin-left: 26px;
}

/*Popover panel*/
.popover__panel {
    display: none;
    position: fixed;
    overflow: auto;
    padding-bottom: 0px;
    z-index: 1000;
    color: var(--color);
    visibility: visible;
}
.popover__panel.show {
    display: block;
}
.popover__panel__container {
    position: fixed;
    overflow: auto;
    display: block;
    left: 383px;
    width: 600px;
    min-width: 0;
    max-width: none;
    padding: 0;
    margin: 0px;
    z-index: 1001;
    visibility: visible;
    opacity: 1;
    transform: translateY(8px);
    overflow: hidden;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 14px 0 rgba(15,17,17,.5);
    border: 1px solid;
    border-color: var(--grey-tone-25);
}
.popover__panel__container.region {
    top: 212px;
}
.popover__panel__container.language {
    top: 165.5px;
}
.popover__panel__heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    margin: 0;
    z-index: 10;
    text-align: left;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 -1px 0 rgba(255,255,255,.4) inset;
    border-bottom: 1px solid var(--grey-tone-25);
    background: linear-gradient(to bottom, var(--grey-tone-33),var(--grey-tone-34));
    background-color: var(--grey-tone-31);
    border-radius: 8px 8px 0 0;
}
.popover__panel__title {
    margin: 0;
    padding: 16px 0;
    min-height: 56px;
    margin-right: 28px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
.popover__panel__close {
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    width: 10px;
    height: 9px;
    margin: -21px 0 0;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid;
    border: none;
    cursor: pointer;
}
.popover__close {
    display: inline-block;
    width: 10px;
    height: 9px;
    font-style: italic;
    vertical-align: top;
    opacity: .64;
    background-image: url('./images/amzn-sprite-4.png');
    background-repeat: no-repeat;
    background-size: 400px 900px;
    background-position: -297px -5px;
}
.popover__panel__list {
    display: block;
    margin-left: 1px;
    padding: 2px 12px 1px 11px;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--grey-tone-31) !important;
    color: inherit;
    border: 1px solid transparent
}
.popover__panel__country .a__button__text {
    min-width: 150px;
    width: 180px;
}

/*Card*/
.card {
    border-radius: 0;
}
.card__closed {
    position: relative;
    padding-top: 35px;
    padding-bottom: 50px;
}
.card__closed__imgContainer {
    height: 180px;
    margin-bottom: 8px;
}
.card__closed__imgContainer img {
    height: inherit;
    width: auto;
    border-radius: 0;
}
.card__holder .card-title {
    line-height: 1.3em !important;
    max-height: 2.6em;
    margin-bottom: 4px;
}
.card-subtitle {
    margin-top: 0;
    margin-bottom: 2px;
}

.a__cardui {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
    overflow: auto;
    padding: 20px 0 15px 0;
}
.a__cardui .a__cardui__body {
    padding: 0 20px;
    position: relative;
}
.a__cardui .a__cardui__body:last-child {
    padding-bottom: 5px;
}