.orders {    
    position: relative;
    width: 1099px;
    margin: 0 auto;
    border: 2px solid purple;
}
.orders__wrap {
    width: 920px;
}
.nav-tabs {
    position: relative;
    width: 100%;
    margin-bottom: 16px !important;
    padding-left: 20px;
    border-bottom: 1px solid var(--grey-tone-24);
}
.tab__switch .nav-item {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
    bottom: -1px;
    list-style: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}
.tab__table__details .a__size__base {
    font-size: 13px !important;
}
.tab__switch .nav-item.selected {
    /* border-bottom-color: var(--ochre-5);
    font-weight: 700; */
}
.tab__switch .nav-item a {
    color: var(--link);
    display: inline-block;
    padding: 5px 10px;   
}
.tab__switch .nav-item.selected a, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--color);
    font-weight: 700;
    border: none;
    border-bottom: 2px solid var(--ochre-5);
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: var(--ochre-4);
    text-decoration: underline;
}
.orders__count {
    display: inline-block;
    margin-right: .5em;
}
.tab__container__label {
    text-transform: uppercase;
}
.tab__container__value {
    color: var(--grey-tone-23) !important;
}
.popoverContent {
    padding: 0;
    list-style-type: none;
    margin: 0;
    color: var(--black);
}
.order__address {
    font-size: 13px;
}
.order__address__name {
    font-weight: 700;
}
.tab__table__invoice {
    width: 290px;
    border: thin solid orange;
}
.tab__body__delivery {
    position: relative;
    min-height: 30px;
}
.tab__order__productDetails {
    padding-right: 3.2%;
}
.tab__order__thumbnail {
    width: 100px;
}
.tab__buttongroup__list {
    flex-basis: 220px;
}
.tab__order__details {
    padding-left: 1.5%;
}