.orders {    
    position: relative;
    width: 1099px;
    margin: 0 auto;
}
.orders.stretch {
    width: auto;
}
.orders__wrap {
    width: 920px;
}
.orders.stretch .orders__wrap {
    width: auto;
}
.orders.stretch .orders__breadcrumb {
    width: 920px;
    margin: 0 auto;
}
.nav-tabs {
    position: relative;
    width: 100%;
    margin-bottom: 16px !important;
    padding-left: 20px;
    border-bottom: 1px solid var(--grey-tone-24);
}

.cart {
    position: absolute;
    display: block;
    left: 940px;
    top: 175px;
}
.cart__wrap {
    display: block;
    width: 266px;
    max-width: 300px;
    max-height: 10000px;
    border: 1px var(--grey-tone-24) solid;
    background-color: var(--white);
    border-radius: 4px;
}
.cart__imgLink {
    flex: 0 0 87px;
}

