
.wholefoods--page {
    margin: 0 auto;
    font-weight: 400;
    max-width: 1500px;
    color: var(--grey-tone-123);
    box-sizing: border-box;
    font-family: var(--font-ancillary-6);
}
.wholefoods--page h2 {
    display: block;
    margin: 0;
    font-weight: 500;
    color: var(--grey-tone-123);
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-ancillary-7);
}
.wholefoods--page h3 {
    display: block;
    font-weight: 500;
    font-family: var(--font-ancillary-7);
}
.wholefoods--page p {
    margin-top: 0;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.5;
    color: var(--grey-tone-123);
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-ancillary-6);
}
.wholeFoods__cmsGrid {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}
.wholefoods__grid {
    display: grid;
    grid-template-columns: repeat(25,1fr);
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.wholefoods--page p {
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.wholefoods__header {
    position: relative;
}
.wholefoods__alert {
    position: relative;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    overflow: hidden;
    text-align: center;
    opacity: 1;
    z-index: 11;
    background-color: var(--green-8);
    transition: max-height .5s ease;
}
.wholefoods__alertContent {
    grid-column: 4/span 17;
    grid-row: 1;
    padding: 20px 0;
}
.wholefoods__alertContent p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 350;
    text-align: center;
    color: var(--white);
}
.wholefoods__link {
    font-size: 1rem;
    line-height: 1.5 !important;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: var(--white) !important;
}
p.wholefoods__link__ii a {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--green-9);
    background: 0 0;
    font-weight: 700;
    text-decoration: none;
    font-family: var(--font-ancillary-6);
}
.wholefoods__link span, .wholefoods__link__ii span {
    border-bottom: .125rem solid transparent;
}
.wholefoods__link__ii:hover span,
.wholefoods__link__ii:focus span,
.wholefoods__link__ii:active span {
    border-bottom-color: var(--green-10);
}
.wholefoods__link__ii a:after {
    content: '';
    position: static;
    height: 1rem;
    width: 1rem;
    margin-left: .5rem;
    background-image: url('../../images/wholefoods-arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom: .125rem solid transparent;
}
.wholefoods__alertClose {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    padding: 20px;
    grid-column: span 2/-2;
    grid-row: 1;
    z-index: 1;
}
.wholefoods__alertClose svg {
    font-size: 1.5em;
    color: var(--white);
}
.wholefoods__nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
    background: var(--green-9);
    z-index: 11;
}
.wholefoods__nav > a {
    display: block;
    height: 2.3125rem;
    width: 9rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('../../images/wholefoods-arrow.svg');
}
.wholefoods__navDivider {
    content: '';
    display: block;
    height: 3.5625rem;
    margin: 10px 20px;
    border-right: 1px solid var(--white);
}
.wholefoods__globalMenu {
    display: flex;
    width: 100%;
    margin-left: 0;
}
.wholefoods__globalMenu li {
    list-style-type: none;
    margin-right: 30px;
    color: var(--white);
}
.wholefoods__globalMenu li:first-child {
    margin-left: 0;
}
.wholefoods__globalMenu li a {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--white);
}
.wholefoods__navSearch {
    align-self: center;
    justify-self: flex-end;
    min-width: auto;
    margin-left: auto;
}
.wholefoods__navSearchWrapper {
    display: flex;
    justify-content: flex-end;
    background-color: var(--green-9);
}
.wholefoods__navSearchContainer {
    position: relative;
    display: inline-block;
    align-self: center;
    max-width: 25rem;
    transition: max-width .25s ease-in-out;
}
.wholefoods__navSearch form {
    display: flex;
    align-items: center;
    padding: .5rem .6875rem;
    border-radius: .125rem;
    background-color: var(--white);
}
.wholefoods__navSearch form input {
    flex: 1;
    height: 26px;
    padding: 1px 2px;
    line-height: 1.5;
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 350;
    color: var(--grey-tone-123);
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.wholefoods__navSearch form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: .9em;
}
.wholefoods__navSearch form input::-moz-placeholder { /* Firefox 19+ */
    font-size: .9em;
}
.wholefoods__navSearch form input:-ms-input-placeholder { /* IE 10+ */
    font-size: .9em;
}
.wholefoods__navSearch form input:-moz-placeholder { /* Firefox 18- */
    font-size: .9em;
}
.wholefoods__searchIcon {
    pointer-events: none;
}
.wholefoods__navSearch .dropdown {
    white-space: nowrap;
}
.wholefoods__navDropdown {
    position: absolute;
    top: 40px !important;
    left: -11px !important;
    right: -11px !important;
    overflow: hidden;
    width: auto;
    max-height: 800px;
    min-width: 0;
    padding: 1px 0;
    font-size: initial;
    color: var(--grey-tone-123);
    opacity: 1;
    z-index: 15;
    transform: none !important;
    transition: max-height .4s ease-in-out,opacity .4s ease-in-out;
    background-color: transparent;
    background-clip: border-box;
    border: 0;
    border-radius: 0px;
    background-color: var(--white);
    border: 2px solid blue;
}
.wholefoods__navTitle {
    margin: 0 20px 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--grey-tone-124);
}
.wholefoods__navDropdown > ul {
    overflow-y: scroll;
    max-height: 55vh;
    margin: 0;
    padding: 0 20px;
}
.wholefoods__navDropdown > ul li a {
    text-decoration: none;
}
.wholefoods__itemLine {
    display: grid;
    align-items: center;
    gap: 0.625rem;
    grid-template-columns: 4.375rem 1fr;
    margin: 0.625rem 0;
}
.wholefoods__itemTitle {
    line-height: 1.5rem;
    font-size: 16px;
    font-weight: 700;
    color: var(--grey-tone-123);
    border: none;
}
.wholefoods__itemTitle:hover, .wholefoods__itemTitle:focus {
    color: var(--green-10);
    text-decoration: underline;
}
.wholefoods__navLogin {
    position: relative;
    display: inline-flex;
    align-self: center;
    margin-left: 30px;
}
.wholefoods__navLogin a {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--white);
}
.wholefoods__store {
    position: relative;
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(25,1fr);
    z-index: 10;
    background-color: var(--grey-tone-125);
}
.wholefoods__storeBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2/-2;
    min-height: 2.625rem;
}
.wholefoods__storeBlock a {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--green-9) !important;
}

.wholefoods__container {
    position: relative;
    top: -4px;
}
.wholefoods__banner {
    position: relative;
    width: 100%;
    min-height: 600px;
}
.wholefoods__gridC {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    grid-column-start: 1;
    grid-column-end: 26;
    z-index: -1;
}
.wholefoods__gridCBanner {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 66%;
    background-image: url('../../images/wholefoods-banner.jpg');
}
.wholefoods__bannerPanel {
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.wholefoods__bannerP {
    padding: 30px 60px;
    margin: 60px 0;
    background-color: var(--white);
}
p.wholefoods__bannerText {
    margin-top: 20px;
    margin-bottom: 0;
}
.wholefoods__interstitialSec p.wholefoods__bannerText {
    margin-top: 0;
    margin-bottom: 20px;
}
.wholefoods__bannerCta {
    margin-top: 20px;
    line-height: 0;
    font-size: 1rem;
}
.wholefoods__btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: .75rem 1.875rem .625rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    white-space: normal;
    border-bottom: .125rem solid transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    font-family: var(--font-ancillary-6);
}
.wholefoods__btn.wholefoods__btn--primary {
    color: var(--white);
    background-color: var(--green-9);
}
.wholefoods__btn.wholefoods__btn--secondary {
    color: var(--green-9);
    border-color: var(--green-9);
    background-color: transparent;
}
.wholefoods__btn.wholefoods__btn--external {
    position: relative;
    padding-right: 3.5rem;
}
.wholefoods__btn--external:after {
    position: absolute;
    content: '';
    right: calc(56px - 1.875rem);
    top: calc(12px - .1875rem);
    height: 1rem;
    width: 1rem;
    background-image: url("../../images/link-external.svg");
    background-position: center;
    background-size: contain;
}
.wholefoods__disclaimer {
    width: 100%;
    margin-top: 20px;
    font-weight: 350;
    color: var(--grey-tone-126);
    font-family: var(--font-ancillary-6);
}
.wholefoods__bannerNav {
    display: block;
    list-style: none;
    width: 100%;
    padding: 20px 60px;
    margin: -20px 0 0;
    font-size: 0;
    text-align: center;
    background-color: var(--grey-tone-125);
}
.wholefoods__bannerNav li {
    display: inline-block;
    font-size: 0;
    padding: 20px 10px 10px;
    margin-top: 0;
}
.wholefoods__interstitialSec {
    display: grid;
    grid-template-columns: repeat(25,1fr);
    grid-template-rows: 1fr min-content;
    margin-bottom: 120px;
}
.wholefoods__panel {
    padding: 30px 60px;
    background-color: transparent;
}
.wholefoods__panel.wholefoods__panel--white {
    background-color: var(--white);
}
.wholefoods__panel--shadow {
    box-shadow: 30px 0 30px rgb(0 0 0 / 10%);
}
.wholefoods__panel--shadow__ii {
    box-shadow: 20px 0 20px rgb(0 0 0 / 10%);
}
.wholefoods__interstitialSec header {
    width: 100%;
    margin-bottom: 10px;
}
.wholeFoodsComponent {
    margin-bottom: 120px;
}
.wholeFoodsComponent > ul {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -60px;
}
.wholeFoodsComponent > ul > li {
    flex: 1;
    flex-basis: 17%;
    margin-right: 4%;
    margin-bottom: var(--fixed-spacer-l);
    margin-left: 4%;
}
.wholeFoodsComponent > ul > li a {
    display: block;
    width: 100%;
    text-decoration: none;
}
.wholeFoodsComp__image {
    margin-bottom: 20px;
}
.wholeFoodsComponent .wholeFoodsComponent__title {
    margin: 0;
    line-height: 1.27;
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--green-9);
    font-family: var(--font-ancillary-6);
}
.wholeFoods__cmsGrid .wholeFoodsComponent__title__ii,
.wholeFoodsComponent .wholeFoodsComponent__title__ii {
    display: block;
    margin: 20px 0 10px;
    font-weight: 700;
    font-family: var(--font-ancillary-6);
}
.wholeFoodsComponent__title span {
    border-bottom: 2px solid transparent;
}
.wholeFoodsComponent__title span:hover, .wholeFoodsComponent__title span:active,
.wholeFoodsComponent__title span:focus {
    border-color: var(--green-9);
}
.wholefoods__interstitialSec--secondary {
    grid-template-rows: none;
}
.wholefoods__galleryContent {
    grid-row-start: 1;
    grid-column: 7/span 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}
.wholefoods__galleryContent h2 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;    
    color: var(--white);
    font-weight: 700;
    font-family: var(--font-ancillary-6);
}
.img__bannerSec {
    grid-row-start: 1;
    grid-column: 1/-1;
    width: 100%;
    height: 600px;
    object-position: 50% 50%;
    object-fit: cover;
}
.wholefoods__montage .wholefoods__bannerTitle {
    margin-bottom: 10px;
}
.wholefoods__montage > *:nth-child(2)  {
    grid-column: 15/span 4;
    grid-row-start: 1;
    margin: 360px 0 120px;
    z-index: 1;
}
.wholefoods__montage > *:nth-child(3) {
    grid-column: 20/span 5;
    grid-row-start: 1;
    margin: 120px 0;
    text-align: center;
    z-index: 1;
}
.wholefoods__montage > *:nth-child(4) {
    grid-column: 3/span 12;
    grid-row-start: 1;
    z-index: 0;
}
.wholefoods__footerPry, .wholefoods__footerSec {
    display: grid;
    grid-template-columns: repeat(25,1fr);
}
.wholefoods__footerPry {
    font-size: 1rem;
    background-image: url('../../images/carrot-background.svg');
    background-color: var(--green-9);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
}
.wholefoods__footerPry > ul {
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: repeat(21,1fr);
    margin: 0 0 30px;
    color: var(--white);
}
.wholefoods__footerPry > ul:before {
    content: '';
    background-image: url('../../images/wholefoods-market.svg');
    height: 81px;
    grid-column: 1/-1;
    background-repeat: no-repeat;
}
.wholefoods__footerPry > ul > li {
    grid-column: span 5;
    color: var(--white);
    background: var(--green-9);
}
.wholefoods__footerPry > ul > li > ul {
    margin-left: 0;
}
.wholefoods__footerPry > ul > li:nth-child(3) {
    grid-column: span 6;
    border-right: 1px solid var(--white);
}
.wholefoods__footerPry > ul > li:nth-child(4) {
    display: grid;
    grid-column: 18/-1;
    background-color: transparent;
}
.wholefoods__footerHead {
    display: block;
    margin: 30px 0 20px;
    line-height: 2.375rem;
    font-size: 1.375rem;
    color: var(--white);
    font-weight: 500;
    font-family: var(--font-ancillary-6);
}
.wholefoods__socials {
    margin-top: 60px;
}
.wholefoods__footerPry > ul > li > ul > li {
    margin-bottom: 10px;
    line-height: 1.618rem;
}
.wholefoods__footerPry > ul > li > ul > li a {
    font-family: var(--font-ancillary-6);
    font-weight: 700;
}
.wholefoods__link--external {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wholefoods__link--external:after {
    content: '';
    position: static;
    height: 1rem;
    width: 1rem;
    margin-left: .5rem;
    margin-top: -.125rem;
    background-image: url("../../images/link-external-ii.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom: .125rem solid transparent;
}
.wholefoods__socials nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    color: var(--white);
    height: unset;
}
.wholefoods__socials nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.wholefoods__socials nav ul li {
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 10px;
    line-height: 1.618rem;
}
.wholefoods__socials nav ul li a svg {
    width: 34px;
    height: 34px;
    color: var(--white);
}
.wholefoods__socials .wholefoods__btn {
    color: var(--white);
    border-color: var(--white);
}
.wholefoods__footerSec {
    font-size: .875rem;
    background-color: var(--green-10);
}
.wholefoods__footerSecContainer {
    grid-column: 2/-2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    color: var(--grey-tone-125);
}
.wholefoods__footerSecContainer > ul,
.wholefoods__footerSecNav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.wholefoods__footerSecContainer > ul > li {
    line-height: 1.618rem;
    font-weight: 350;
    line-height: 1.43;
}
.wholefoods__footerSecContainer > ul li a {
    line-height: 1.43 !important;
    font-size: 14px;
    font-weight: 350;
}
.wholefoods__footerSecContainer > ul > li hr {
    width: 3.75rem;
    margin: 0 10px;
    border: 0;
    border-bottom: 1px solid var(--white);
}
.wholefoods__footerSecNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.wholefoods__footerSecNav li {
    margin-right: 20px;
    line-height: 1.618rem;
}







@media screen and (min-width: 768px) {
    .wholefoods__bannerTitle {
        font-size: 4.375rem;
    }
    .wholefoods--page h2 {
        font-size: 4.375rem;
    }
}
@media screen and (min-width: 1025px) {
    .wholefoods__interstitial {
        margin-bottom: 120px;
    }
    .wholefoods--page h2 {
        font-size: 4.375rem;
        line-height: 4.75rem;
    }
    .wholefoods--page h3 {
        font-size: 1.875rem;
        line-height: 2.375rem;
    }
    .wholefoods__gridCBanner {
        display: block;
    }
    .wholefoods__bannerTitle {
        font-size: 4.375rem;
        line-height: 4.75rem;
    }
    .wholefoods__disclaimer p {
        margin: 0;
        line-height: 1.25rem;
        font-size: .875rem;
    }
    .wholefoods__interstitialSec .wholefoods__panel {
        grid-column: 3/span 10;
        grid-row: 2/3;
        z-index: 1;
    }
    .wholefoods__montage.wholefoods__interstitialSec > *:first-child {
        display: flex;
        flex-direction: column;
        grid-column: 3/span 9;
        grid-row-start: 1;
        grid-row-end: auto;
        justify-content: center;
        z-index: 1;
    }
    .wholefoods__interstitialSec:nth-of-type(odd):nth-of-type(-n+3) .wholefoods__panel {
        grid-column: 14/-2;
        grid-row: 2/3;
        z-index: 1;
    }
    .wholefoods--page .wholefoods__bannerTitle {
        font-size: 3.25rem;
        line-height: 3.5rem;
    }
    .wholefoods__interstitImg {
        grid-column: 6/-3;
        grid-row: 1/3;
    }
    .wholefoods__interstitialSec:nth-of-type(odd) .wholefoods__interstitImg {
        grid-column: 1/21;
        grid-row: 1/3;
    }
    h2.wholeFoods__carouselHeader,  h3.wholeFoods__carouselHeader {
        line-height: 3rem;
        font-size: 2.5rem;
    }
    .wholefoods__galleryContent h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .wholeFoods__cmsGrid .wholeFoodsComponent__title__ii, 
    .wholeFoodsComponent .wholeFoodsComponent__title__ii {
        font-size: 1.375rem;
        line-height: 1.75rem;
    }
}