.imdb--page ul {
    color: var(--white);
}
.imdb__header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 3.5rem;
    padding: 0.25rem;
    margin: 0px;
    line-height: 24px;
    font-size: 16px;
    color: var(--white);
    letter-spacing: 0.5px;
    z-index: 1000;
    font-family: var(--font-ancillary-5);
    background-color: var(--grey-tone-120);
}
.imdb__headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0px 0.75rem;
    margin: 0px;
}
.imdb__headerInner > *:not(.imdb__search),
.imdb__headerInner > *:not(.imdb__search) a {
    color: var(--white);
}
.imdb__navLogo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 64px;
    height: 32px;
    margin-left: 0.25rem;
    margin-right: auto;
    color: inherit;
    user-select: none;
    order: 1;
}
.imdb__navLogo:hover, .imdb__navLogo:focus {
    opacity: .95;
}
.imdb__headerMenu {
    display: flex;
    order: 1;
    color: var(--white);
    cursor: pointer;
}
.imdb__bars {
    display: inline-block;
    opacity: 0.54;
    cursor: pointer;
}
.imdb__bars svg {
    transform: scale(1.7);
    margin-right: 3px;
}
.imdb__search {
    position: relative;
    display: flex;
    left: 0px;
    top: 0px;
    align-items: center;
    flex-grow: 1;
    min-height: 2.25rem;
    margin: 0px 0.5rem;
    padding: 0px;
    order: 3;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0px);
    box-sizing: border-box;
    transition: none 0s ease 0s;
    z-index: 1;
}
.imdb__search form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    background: var(--white);
    border-radius: 4px;
    transition: border 0.2s ease 0s, background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}
.imdb__search label {
    display: inline-flex;
    min-height: 32px;
    height: 20px;
    /* padding: 0px 10px 0px 0.5rem; */
    padding: 0;
    color: rgba(0,0,0,0.87);
    border-radius: 2px 0px 0px 2px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.imdb__search label .dropdown {
    width: 100%;
}
.imdb__search label .dropdown-menu {
    left: -8px !important;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 170px;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);
    margin-top: 0.30rem;
    padding: .5rem 0;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: .03125em;
    white-space: nowrap;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background: var(--grey-tone-121);
}
.imdb__search label .dropdown-item {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 203px;
    height: 3rem;
    justify-content: flex-start;
    padding: 0 1rem;
    color: var(--white);
    text-decoration: none;
    transition: background 0.1s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: color 0.15s;
}
.imdb__search label .dropdown-item:hover, 
.imdb__search label .dropdown-item:focus {
    background: rgba(0, 0, 0, 0.15)
}
.imdb__search label .dropdown-item:first-child {
    color: var(--ochre-64);
}
.imdb__dropdownIcon {
    margin-right: 0.75rem;
    margin-top: -3px;
    font-size: 1.3em;
}
.imdb__search label .ipc__button__text {
    display: flex;
    align-items: center;
    font-weight: 600;
}
.imdb__search .dropdown-toggle {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0px 10px 0px 0.5rem;
}
.imdb__search .dropdown-toggle:after {
    position: absolute;
    top: 40%;
    right: 10%;
}
.imdb__searchBox {
    width: 100%;
    padding-right: 3.5rem;
}
.imdb__searchBox input {
    flex-grow: 1;
    width: 100%;
    padding: 1rem 1rem 1rem 0.75rem;
    outline: none;
    appearance: none;
    border: none;
    box-shadow: none;
}
.imdb__lens {
    position: absolute;
    top: 0.35rem;
    right: 0.35rem;
    min-width: 2rem;
    font-size: 1.3em;
    padding: 0px;
    border-radius: 4px;
    background: var(--white);
    cursor: pointer;
    appearance: none;
    color: rgba(0, 0, 0, 0.54);
    border: none;
    transition: all 0.2s ease 0s;
}
.imdb__navItem {
    position: relative;
    cursor: pointer;
}
.imdb__navItem:hover, .imdb__navItem:focus {
    background-color: rgba(115, 115, 115, .2);
    border-radius: 8px;
}
.imdb__imdbPro .dropdown-menu {
    right: 0;
    top: 100% !important;
    left: auto !important;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 170px;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);
    margin: 0;
    margin-top: 0.25rem;
    padding: .5rem 0;
    padding-left: 17px;
    padding-bottom: 25px;
    padding-top: 25px;
    color: var(--white);
    white-space: nowrap;
    opacity: 1;
    font-weight: bold;
    will-change: transform, opacity;
    transform: initial !important;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    background: url('../../images/imdb/imdbpro-navbar.png');
    background-size: cover;
}
.imdb__imdbPro .dropdown-menu > div {
    overflow: hidden;
    width: 573px;
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    background-repeat: no-repeat;
}
.imdb__proAdlink {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}
.imdb__proAdlink {
    display: inline-block;
}
.imdb__proAdImage {
    width: 127px;
    height: 145px;
}
.imdb__proAdContent {
    display: inline-block;
    width: 400px;
    margin-left: 15px;
    vertical-align: top;
    font-family: Arial;
}
.imdb__proAdTitle {
    margin-bottom: 10px;
    line-height: 1.3em;
    font-size: 15px;
    color: var(--white);
}
.imdb__proAdContent p {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0.1rem 0px;
    margin: 0px;
    line-height: 24px;
    font-size: 12px;
}
.imdbpro__newBtn {
    margin-top: 15px;
}
.imdbpro__newBtn button {
    width: 175px;
    height: 30px;
    padding: 0;
    font-size: 13px;
    color: var(--color-2);
    font-weight: normal;
    text-align: center;
    background-color: var(--ochre-66);
}
.imdbpro__newBtn button:hover, .imdbpro__newBtn button:focus {
    background-color: var(--ochre-65) !important;
}
.imdb__navItem:hover .imdb__imdbproImg, .imdb__navItem:focus .imdb__imdbproImg {
    opacity: .5;
}
.imdb__navSeparator {
    order: 5;
    width: 1px;
    height: 2rem;
    margin: 0px 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.imdb__main {
    position: relative;
    display: block;
    min-height: 67vh;
    min-width: 300px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-font-smoothing: auto;
    color: var(--white);
    background: var(--black);
    font-family: var(--font-ancillary-5);
}
.imdb__carousel {
    display: grid;
    justify-items: stretch;
    flex-wrap: wrap;
}
.imdb__carouselContainer {
    position: relative;
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 8px auto;
    justify-content: center;
    background: var(--black);
}
.imdb__carouselContainer--sec {
    display: block;
    grid-column: span 2;
    width: auto;
    margin: 0;
    padding: 1.5rem 0;
    color: var(--white);
}
.imdb__mainSlider, .imdb__sliderSec {
    position: relative;
    flex: 846 1 0%;
    overflow: hidden;
    margin: 0px 8px;
}
.imdb__slideList {
    position: relative;
    flex: 402 1 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0px 8px 0px 4px;
}
.imdb__appendixImg {
    position: absolute;
    bottom: 0px;
    left: 16px;
    display: inline-flex;
    grid-column: span 2;
    width: 165px;
    min-width: auto;
    margin-right: 0;
    text-decoration: none;
    z-index: 100;
}
.imdb__appendixRibbon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 2.5rem;
    height: 3.4rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--white);
    z-index: 3;
}
.imdb__appendixRibbon svg {
    position: relative;
    left: -10px;
    top: -5px;
    font-size: 2em;
}
.imdb__appendixImgContainer {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
    min-width: auto;
    overflow: hidden;
    font-size: 7rem;
    background: var(--grey-tone-120);
    color: rgba(var(--white), 0.1);
}
.imdb__appendixImgContainer img {
    width: 160px;
    margin: auto;
}
.imdb__carouselFeatured {
    position: relative;
    display: inline-flex;
    grid-column: span 4;
    padding-bottom: 70px;
    width: 100%;
    min-width: auto;
    margin-right: 0;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
.imdb__carouselFeaturedImg {
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-width: auto;
    color: rgba(var(--white), 0.1);
    background: var(--grey-tone-120);
    border: 2px solid lavender;
}
.imdb__carouselFeaturedImg:before {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    background: rgba(var(--white), 0.1);
}
.imdb__carouselFeaturedImg img {
    width: 100%;
}
.imdb__carouselFeaturedOverlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: var(--white);
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .01786em;
    text-decoration: inherit;
    background-image: linear-gradient( 180deg, transparent 0%, transparent 65%, 
                rgba(0, 0, 0, 0.7) 77%, rgba(0, 0, 0 , 1) 85%, 
                rgba(0, 0, 0, 1) 100% );

    box-sizing: border-box;
}
.imdb__carouselFeaturedOverlay figcaption {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 177px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    min-width: 0px;
    margin: 16px 16px 0px;
    z-index: 1;
}
.imdb__carouselCirclePlay {
    display: flex;
    align-items: stretch;
}
.imdb__carouselCirclePlay svg {
    height: 50px;
    margin: 0px 0px 8px;
    width: 50px;
}
.imdb__carouselCirclePlay svg:hover, .imdb__carouselCirclePlay svg:focus {
    color: var(--ochre-64);
}
.imdb__carouselFeaturedTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-width: 0px;
}
.imdb__carouselFeaturedTxt {
    display: flex;
    align-items: flex-end;
}
.imdb__carouselFeaturedName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--white);
}
.imdb__carouselRuntime {
    display: none;
    margin-left: 2rem;
    font-size: 1rem;
    line-height: 28px;
    color: rgba(255,255,255,0.7);
}
.imdbcarouselFeaturedSlide {
    overflow: hidden;
    margin: 0.25rem 0px 0px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.0125em;
    font-weight: 400;
    text-align: start;
    color: rgba(255,255,255,0.7);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: none;
}

.imdb__slideListHeading {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 4px 0px;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0.0125em;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: none;
    color: var(--ochre-64);
    font-family: var(--font-ancillary-5);
}
.imdb__upNext {
    height: 53px;
}
.imdb__galleryList {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 444px;
    width: 100%;
    margin-left: 0;
    background: linear-gradient(0deg, transparent 0%, transparent 50%, 
        rgba(18, 18, 18, 0.7) 78%, rgb(18, 18, 18) 100%);
}
.imdb__galleryList > li {
    position: relative;
    flex: 0 0 113px;
    overflow: hidden;
    width: 100%;
    padding: 0px 16px;
    transition: all 300ms ease 0s;
}
.imdb__galleryList > li > figure {
    width: 88px;
    padding-top: 16px;
}
.imdb__galleryListLink {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 112px;
    overflow: hidden;
    padding: 18px 8px 0px;
    text-decoration: none;
}
.imdb__galleryListLink:hover {
    text-decoration: none;
}
.imdb__galleryListPlay {
    position: relative;
    flex: 0 1 0%;
    width: 100%;
    margin-bottom: 3px;
    text-align: left;
}
.imdb__galleryListPlay .imdb__carouselCirclePlay svg {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    color: var(--white);
}
.imdb__galleryListLink:hover .imdb__carouselCirclePlay svg, 
.imdb__galleryListLink:focus .imdb__carouselCirclePlay svg {
    color: var(--ochre-64);
}
.imdb__galleryRuntime {
    display: inline-block;
    overflow: hidden;
    line-height: 1.25rem;
    font-size: 0.875rem;
    letter-spacing: 0.01786em;
    font-weight: 400;
    text-align: start;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    color: rgba(255,255,255,0.7);
}
.imdb__galleryTitle, .imdb__galleryCaption {
    position: relative;
    display: -webkit-box;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 0.00937em;
    line-height: 1.25rem;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.imdb__galleryCaption {
    position: relative;
    display: inline-block;
    flex: 0 1 0%;
    width: 100%;
    font-size: 0.875rem;
    letter-spacing: 0.01786em;
    text-align: left;
    color: rgba(255,255,255,0.7)
}
.imdb__browseTrailers {
    padding: 16px 16px 0px;
}
.imdb__title {
    display: block;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: .00735em;
    font-weight: 600;
    color: var(--ochre-64);
    -webkit-font-smoothing: auto;
}
.imdb__sliderSec {
    position: relative;
    flex: 0 0 67.7%;
    padding: 24px 0;
    flex-wrap: nowrap;
    overflow-x: hidden;
    min-height: 4rem;
    overscroll-behavior-x: contain;
    overflow: auto;
    scroll-behavior: smooth;
    transition: left .5s ease-out;
}
.imdb__sliderSec--stretch {
    flex-basis: 100%;
}
.imdb__watchlist header, .imdb__exclusiveVids header {
    grid-column: span 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: auto;
    padding-bottom: 0.75rem;
}
.imdb__watchlistHeader {
    padding: 0 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0px;
    color: var(--ochre-64);
}
.imdb__recommendation {
    justify-content: center;
    min-height: 2.25rem;
    margin-left: calc(0.5rem);
    padding: 0 1rem;
}
.imdb__recommendation svg {
    width: 24px;
    height: 24px;
}
.imdb__watchMain {
    display: block;
    grid-column: span 3;
    width: auto;
    margin: 0 0 8px;
    padding: 1.5rem 0;
    color: var(--white);
    background: var(--black);
}
.imdb__loggedState {
    margin: 0 1rem;
    padding: 1.5rem;
    text-align: center;
}
.imdb__loggedState .ipc__watchlist__ribbon svg {
    width: 42px;
    height: 45px;
}
.imdb__signin {
    margin-top: 0.5rem;
}
.imdb__signinBtn {
    margin-top: 2rem;
}
.imdb__favSlider, .imdb__originalSlider, .imdb__spherical,
.imdb__news, .imdb__carousel {
    padding: 0 1.5em;
}
.imdb__exclusiveVids {
    background: var(--black);
}
.imdb__exploreTabs {
    padding-bottom: 16px;
    padding-left: 24px;
}
.imdb__exploreTabs .ipc__tab {
    color: var(--white);
    font-weight: 600;
}
.ipc__page__grid {
    display: grid;
    grid-template-columns: 100%;
    justify-items: stretch;
}
.imdb__boxList {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.imdb__boxList > li {
    display: flex;
    padding: 0.75rem 1rem;
}
.imdb__stroke {
    display: inline-block;
    height: 18px;
    margin: auto 0.75rem auto 0.5rem;
    color: var(--ochre-64);
    border-right: 1px solid;
}
.imdb__boxTitle {
    display: block;
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03125em;
    line-height: 1.5rem;
    text-transform: none;
    color: var(--white) !important;
    white-space: nowrap;
    text-decoration: none !important;
}   
.imdb__boxList > li:hover, .imdb__boxList > li:focus {
    opacity: .8;
}
.imdb__boxRibbon svg {
    font-size: 1.5em;
}
.imdb__boxOfficeIcon {
    transform: rotate(-45deg);
}
.imdb__boxOfficeIcon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}
.imdb__recentlyViewed {
    padding-top: 24px;
}

.imdb__footer {
    padding: 1rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 0;
    color: var(--white);
    font-weight: 400;
    letter-spacing: 0.03125em;
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-font-smoothing: auto;
    background: var(--black);
    font-family: var(--font-ancillary-5);
}
.imdb__footerContent {
    max-width: 360px;
    margin: 0 auto;
}
.imdb__footerSocials {
    margin: 16px 0;
}
.imdb__footerMainLinks  ul > li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.imdb__footerMainLinks  ul > li a {
    color: var(--white) !important;
}
.imdb__footerMainLinks ul > li a svg {
    width: 24px;
    height: 24px;
}
.imdb__footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    margin: 16px;
    background: url('../../images/imdb/an-amazon-company.png') no-repeat center;
}
.imdb__footerCopy {
    margin: .5em 0;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.03333em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-font-smoothing: auto;
}







@media screen and (min-width: 480px) {
    .imdb__boxList {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-height: 14rem;
    }
    .imdb__boxList > li {
        width: 50%;
    }
}
@media screen and (min-width: 600px) {
    .imdb__headerInner {
        padding: 0px 0.75rem;
    }
    .imdb__searchBox input {
        padding: 0.375em 0px 0.375rem 0.5rem;
        line-height: 1.25rem;
        font-size: 0.875rem;
        letter-spacing: 0.01786em;
        font-weight: 400;
        text-decoration: inherit;
        text-transform: inherit;
        color: rgba(0, 0, 0, 0.87);
    }
    .imdb__carouselFeaturedTxt {
        font-size: 34px;
        line-height: 40px;
    }
    .imdb__carouselRuntime {
        display: inline;
        align-self: flex-end;
        font-size: 1.25rem;
    }
    .imdb__carouselCirclePlay svg {
        width: 72px;
        height: 72px;
        margin: 0px 16px 0px 0px;
    }
    .imdb__sliderSec {
        padding: 1rem 0;
    }
    .imdb__footerContent {
        max-width: 600px;
    }
}
@media screen and (min-width: 1024px) {
    .imdb__headerInner {
        width: 100%;
        max-width: 1024px;
        margin: 0px auto;
    }
    .imdb__navLogo {
        order: 0;
        margin-left: auto;
        margin-right: 0.5rem;
        padding-left: 0px;
    }
    .imdb__navWatchList {
        order: 6;
        display: inline-flex;
    }
    .imdb__sliderSec {
        padding: 1.5rem 0;
    }
    .imdb__watchlist header, .imdb__exclusiveVids header {
        grid-column: span 3;
        width: auto;
    }
    .imdb__carouselContainer, .imdb__watchlist, .imdb__classic {
        grid-template-columns: calc(33.33333% - .66667 * 1rem - -1.33333rem) 
            calc(33.33333% - .66667 * 1rem - -.33333rem) calc(33.33333% - .66667 * 1rem - -.33333rem);
    }
    .imdb__footer .imdb__footerContent {
        max-width: 1024px;
    }
    
}
@media screen and (min-width: 1280px) {
    .imdb__headerInner {
        max-width: 1280px;
    }
    .imdb__mainContainer {
        max-width: 1280px;
    }
    .imdb__carouselContainer, .imdb__watchlist, .imdb__classic {
        grid-template-columns: calc(33.33333% - .66667 * 1.5rem - -2rem) 
            calc(33.33333% - .66667 * 1.5rem - -.5rem) 
            calc(33.33333% - .66667 * 1.5rem - -.5rem);
    }
    .imdb__carouselFeaturedName {
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0.00735em;
        font-weight: 400;
        text-transform: none;
        font-family: var(--font-ancillary-5);
        -webkit-font-smoothing: antialiased;
    }
    .imdb__galleryList > li {
        flex-basis: 148px;
    }
    .imdb__footerContent {
        max-width: 1280px;
    }
}