.carousel.slide {
    width: 100%;
    max-width: 1500px;
    max-height: 230px;
    height: 300px;
    margin: 0 auto;
    border: 5px solid fuchsia;
}
.carousel__detailed .carousel.slide {
    height: auto;
    max-height: none;
    margin-bottom: 24px !important;
}
.carousel-inner {
    position: relative;
    overflow: visible;
    height: calc(100vh - 99px);
    height: 100%;
    margin-bottom: 0!important;
    z-index: 0;
    border: 2px solid coral;
}
.carousel__detailed .carousel-inner {
    height: 324px;
    width: auto;
    margin: 0 40px;
}
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    height: 100%;
    width: 80px;
    max-height: 250px;
    top: 0;
    padding-left: 3px;
    visibility: visible;
    z-index: 10;
}
.carousel-control-next {
    padding-left: 0;
    padding-right: 3px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 52px;
    vertical-align: top;
    outline: 0;
    background-image: url(../../../images/carousel-arrows.png);
    background-size: 68px 52px;
    background-position: 0 0;
    transform: translate(-50%,-50%);
}
.carousel-control-next-icon {
    background-position: -36px 0;
}

.secondary__slider .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
    margin: 0 0 5px;
}
.amzn__carousel {
    position: relative;
    left: 0px;
    margin-left: 0px;
    border: thin solid purple;
}
.secondary__slider .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 220px;
    white-space: nowrap;
    margin: 0;
    border: 3px solid brown;
}
.amzn__carousel__cards {
    position: relative;
    display: inline-block;
    margin: 0 0 14px;
    padding: 0;
}
.carousel__detailed .amzn__carousel__cards {
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    white-space: nowrap;
    overflow-x: visible;
    letter-spacing: -4px;
    border: 2px solid coral;
}
.amzn__carousel__cards > li {
    position: relative;
    display: inline-block;
    overflow: hidden;
    min-height: 200px;
    min-width: 145px;
    max-width: 270px;
    max-height: 200px;
    margin: 0 10px 0 0;
    vertical-align: top;
    text-align: center;
    list-style: none;
}
.carousel__detailed .amzn__carousel__cards > li {
    display: inline-block;
    overflow: hidden;
    width: 160px;
    margin-left: 33px;
    min-height: 100%;
    list-style-type: none;
    white-space: normal;
    text-align: left;
    max-width: none;
    max-height: none;
    min-width: none;
    letter-spacing: normal;
    border: 2px solid gold;
}
.carousel__compressed .amzn__carousel__cards > li { 
    width: 120px;
    margin-left: 28px;
}
.amzn__carousel__cards > li a {
    position: relative;
    display: inline-block;
    text-align: center;
    min-width: 145px;
}
.carousel__detailed .amzn__carousel__cards > li a {
    min-width: none;
}
.amzn__carousel__cards figure {
    position: relative;
    height: 275px;
    margin-bottom: 0;
}
.carousel__detailed .amzn__carousel__cards figure {
    height: auto;
    margin-bottom: 4px;
}
.amzn__carousel__cards figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.carousel__detailed .amzn__carousel__cards figcaption {
    position: static;
}
.amzn__carousel__control {
    display: inline;
    position: absolute;
    top: 55px;
    padding-left: 0;
    background-color: var(--white);
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px var(--grey-tone-23);
    opacity: 0;
    -webkit-user-select: none;
    transition: opacity 1s;
}
.carousel__detailed .amzn__carousel__control {
    display: inline-block;
    top: 130px;
    bottom: auto;
    margin-top: -16px;
    padding: 6px;
    vertical-align: middle;
    border-radius: 8px !important;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    opacity: .9;
    width: 40px;
    height: auto;
    line-height: normal;
    max-height: none;
    border-color: var(--grey-tone-25);
    border-style: solid;
    border-width: 1px;
}
.carousel__compressed .amzn__carousel__control {
    top: 84px;
}
.carousel__detailed .amzn__carousel__control:hover, 
.carousel__detailed .amzn__carousel__control:focus {
    background-color: var(--grey-tone-26);
    border-color: var(--grey-tone-25);
}
.amzn__carousel__control.carousel-control-prev {
    left: 0;
    padding-right: 5px;
    border-radius: 0 3px 3px 0;
    clip: rect(-10px, 55px, 110px, 0);
}
.amzn__carousel__control.carousel-control-next {
    right: 0;
    padding-left: 5px;
    border-radius: 3px 0 0 3px;
    clip: rect(-10px, 45px, 110px, -10px);
}
.amzn__carousel__control .carousel-control-prev-icon,
.amzn__carousel__control .carousel-control-next-icon {
    position: relative;
    display: inline-block;
    top: 50%;
    left: auto;
    height: 22px;
    width: 13px;
    margin-top: -11px;
    line-height: normal;
    vertical-align: top;
    background-size: 132px 235px;
    background-image: url('../../../images/nav-sprite-3.png');
    background-position: -14px 0;
    transform: none;
}
.carousel__detailed .amzn__carousel__control .carousel-control-prev-icon,
.carousel__detailed .amzn__carousel__control .carousel-control-next-icon {
    /* top: 50%; */
    top: auto;
    left: auto;
    height: 15px;
    width: 11px;
    margin: 5px 6px 5px 5px;
    border-radius: 7px;
    line-height: normal;
    vertical-align: top;
    background-size: 400px 900px;
    background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
    background-position: -123px -7px;
    background-repeat: no-repeat;
    transform: none;
}
.carousel__detailed .amzn__carousel__control .carousel-control-next-icon {
    background-position: -105px -7px;
}
.secondary__slider:hover .amzn__carousel__control {
    opacity: .9;
}
.amzn__carousel__control .carousel-control-prev-icon {
    left: auto;
}
.amzn__carousel__control .carousel-control-next-icon {
    background-position: 0 0;
}
.amzn__carousel__card {
    text-align: left;
}
.amzn__carousel__price {
    display: block;
    font-weight: 400;
    font-size: 17px !important;
    line-height: 21.34px !important;
    color: var(--black);
}
.amzn__carousel__oldprice {
    display: block;
    position: relative;
    bottom: 2px;
    font-weight: lighter;
    color: var(--grey-tone-23);
    text-decoration: line-through;
}
.carousel__detailed {
    position: relative;
    display: block;
    overflow: hidden;
    min-width: 940px;
    outline: 2px solid pink;
}
.carousel__detailed__layout__inner {
    padding: 10px 30px;
    border: 1px solid #DDD;
    border-radius: 5px;
    border: 2px solid green;
    height: 100%;
    width: 100%;
}
.carousel__detailed__slider__header {
    margin: 0 0 20px;
    font-size: 24px !important;
    line-height: 32px !important;
}
.carousel__compressed .carousel__detailed__heading {
    font-size: 18px!important;
    line-height: 24px!important;
}
.carousel__count {
    margin-left: 2%;
    font-size: initial;
    font-weight: 400;
    line-height: normal;
}
.amzn__carousel__caption {
    overflow: hidden;
}
.amzn__carousel__star {
    display: inline-block;
    position: relative;
    height: 18px;
    width: 80px;
    vertical-align: top !important;
    background-image: url('../../../images/nav-sprite-5.png');
    background-size: 512px 256px;
    background-repeat: no-repeat;
    background-position: -84px -28px;
}
.amzn__carousel__count {
    font-size: 12px !important;
    line-height: 16px !important;
}
.amzn__carousel__delivery {
    display: block;
}
.carousel__divider {
    border-top: 1px solid var(--grey-tone-24);
    height: 17px;
}
.carousel__compressed {
    padding-bottom: 14px;
}
.carousel__detailed__frame, .carousel__compressed {
    overflow: hidden;
}
.carousel__detailed__container {
    position: relative;
    overflow: hidden;
    height: 150px;
    padding: 0 10px;
}
.carousel__detailed__link {
    margin-left: 15px;
    font-size: 12px!important;
    line-height: 16px!important;
}
.carousel__compressed .carousel__count {
    font-size: 14px!important;
    line-height: 20px!important;
}