.navCart__wrap {
    min-width: 998px;
    padding: 14px 18px 18px;
    margin: 0 auto;
    background-color: var(--grey-tone-22) !important;
}
.navCart__wrap a, .navCart__wrap a:link, .navCart__wrap a:visited{
    text-decoration: none;
    color: var(--mainlink);
}
.navCart__banner__link {
    width: fit-content;
    font-size: 14px;
    text-decoration: none;
    background-color: var(--white);
    border: thin solid gold;
}
.navCart__banner__link:hover, .navCart__banner__link:focus {
    text-decoration: none;
}
.navCart__banner .navCart__banner__link {
    color: var(--color);
}
.navCart__banner__img {
    min-width: 100px;
}
.navCart__promo__amount {
    font-size: 10px;
}
.navCart__mathbox {
    min-width: 205px;
    width: auto;
    margin-bottom: 0 !important;
}
.navCart__mathbox__label {
    padding: 0 0 1px;
}
.navCart__mathbox__value {
    padding: 0 0 1px 10px;
}
.navCart__learnMore {
    width: 180px;
}
.navCart__retail {
    padding-right: 20px;
}
.navCart__form {
    margin-bottom: 14px;
}
.navCart__header {
    margin-bottom: -10px;
}
.navCart__form {
    border: thin solid blue;
}
.navCart__cartItems {
    border: thin solid var(--grey-tone-24);
}
.navCart__deselect {
    color: var(--mainlink);
}
.navCart__checkoutBox {
    margin-right: 19px;
}
.navCart__checkout__img {
    flex: 0 0 220px;
}
.navCart__checkout__check {
    margin-right: 15px;
}
.navCart__checkout__info {
    border: 2px solid brown;
}
.navCart__checkout__info .a__button__dropdown .a__button__text {
    padding-right: 10px;
}
.navCart__title ~ span {
    line-height: 20px !important;
}
.navCart__actionLinks {
    margin-top: -4px;
    margin-top: -2px;
    margin-bottom: 3px;
}
.navCart__checkout__info .popover__panel__panel {
    display: inline-block;     
}
.navCart__checkout {
    flex: 0 0 300px;
}
/* .navCart__checkout .a__section {
    margin-bottom: 22px;
} */
.navCart__checkout__thumbnail {
    flex: 0 0 112px;
}
.navCart__checkout__prodTitle {
    overflow: hidden;
    max-height: 20px;
    word-wrap: break-word;
}
.navCart__proceedToCheckout {
    margin-bottom: 14px;
}