.navigationbar__origin__menu.dropdown-menu {
    margin: -1px 0 0 -2px;
    padding: 14px;
    padding-bottom: 7px;
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
    border: 1px solid var(--grey-tone-6);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
    zoom: 1;
}
.nav__arrow {
    position: absolute;
    top: -9px;
    left: 30px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin-left: -1px;
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid var(--grey);
}
.nav__arrow__inner {
    display: block;
    position: absolute;
    top: 1px;
    left: -9px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid var(--white);
}
.page__footer .nav__arrow {
    left: 97px;
}
.navigationbar__origin__menu__itemList {
    width: 210px;
    margin: auto;
}
.navigationbar__origin__menu__item {
    position: relative;
    display: block;
    clear: both;
    line-height: 16px;
    padding: 0 0 7px;
    margin: 0;
    text-decoration: none;
    font-family: inherit;
    cursor: default;
}
.navigationbar__origin__menu__link {
    border: none !important;
    outline: none !important;
    cursor: pointer;
}
.navigationbar__origin__menu__text {
    display: block;
    font-size: 13px;
    color: var(--grey-tone-8);
    font-weight: 400;
    white-space: normal;
}
