.sub__layout {
    position: relative;
    padding: 0 10px 0;
    border: 5px solid tomato;
}
.sub__layout__card {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    max-width: 1480px;
    margin-bottom: 0 !important;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 13px !important;
    line-height: 19px !important;
    border: 2px solid aquamarine;
}
.sub__layout__card__grid {
    flex: 1 0 290px;
    display: block;
    height: 420px;
    min-height: 420px;
    order: 1;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 290px;
    max-width: 400px;
    border: 2px solid tan;
}
.sub__layout__inner {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin-top: 0;
    padding: 20px 0 15px 0;
    margin-bottom: 0;
    background: var(--white);
}
.sub__layout__inner > div {
    position: relative;
    margin-bottom: 0 !important;
    font-size: 13px !important;
    line-height: 19px !important;
    display: flex;
    flex-flow: row wrap;
    max-width: 1480px;
    margin: 0 auto;
    padding: 20px 0;
}
.sub__layout__inner__header {
    display: flex;
    padding: 0 20px;
    margin-bottom: 10px;
    border: thin solid teal;
}
.sub__layout__inner__header__avatar {
    height: 60px;
    width: 60px;
}
.user__avatar {
    border-radius: 50%;
}
.sub__layout__inner__header__greeting {
    padding-left: 75px;
}
.sub__layout__inner__header__title, .prime__video__title {
    display: block;
    overflow: hidden;
    line-height: 27.3px !important;
    margin-bottom: 0!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 0;
    font-size: 21px !important;
}
.sub__layout__inner__header__reg {
    display: block;
    overflow: hidden;
    margin: 0 0 14px 0;
    line-height: 19px!important;
    font-size: 13px!important;
    font-weight: normal;
    white-space: nowrap;
    margin-bottom: 0;
    text-overflow: ellipsis;
}
.sub__layout__inner__body {
    position: relative;
    padding: 0 20px 56px 20px;
    margin-bottom: 0;
}
.sub__layout__inner__intro__text {
    display: block;
    overflow: hidden;
    font-weight: 700 !important;
    margin-bottom: 8px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sub__layout__inner__frame {
    display: flex;
    flex-flow: row wrap;
}
.sub__layout__inner__categories__wrap {
    position: relative;
    flex: 1 1 48.5%;
    height: 130px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.sub__layout__inner__categories {
    position: relative;
    margin-bottom: 0;
}
.sub__layout__inner__innerwrap {
    width: 130px;
    height: 90px;
    margin: auto;
}
.sub__layout__inner__innerwrap a { 
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-decoration: none;
    background-color: rgba(0, 164, 180, 0.05);
}
.sub__layout__inner__innerwrap img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: 120px;
    height: 80px;
    margin: 10px 5px 0px 5px !important;
}
.sub__layout__inner__categories figcaption {
    position: absolute;
    bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    padding: 0px 10px;
    max-height: 36px;
    overflow: hidden;
    font-size: 12px!important;
    line-height: 18px!important;
    text-align: center;
    text-overflow: ellipsis;
    transform: translateY(50%);
}
.sub__layout__inner__body__recently__viewed {
    position: relative;
    height: 260px;
    width: 260px;
    margin: 15px auto;
}
.sub__layout__inner__body__recently__viewed > img {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}
.sub__layout__inner__timeline {
    margin-top: 8px;
    margin-bottom: 4px;
}
.sub__layout__inner__timelinedot {
    float: right;
    width: 10px;
    height: 10px;
    margin-right: 49%;
    border-radius: 50%;
    background-color: var(--ochre-21);
}
.sub__layout__inner__timelineline {
    height: 10px;
    width: 50%;
    margin-left: 50%;
    margin-bottom: 4px;
    background: linear-gradient(90deg,var(--grey-tone-22) 50%,rgba(234,237,237,0) 100%);
}
.sub__layout__inner__timelinedate  {
    margin-bottom: 0;
    text-align: center;
}
.sub__layout__card__grid__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px;
}
.sub__layout__card__grid__footer a {
    color: var(--white);
}
.sub__layout__inner__body__ui__card {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-decoration: underline;
}
.sub__layout__inner__body.ui__card {
    -webkit-box-direction: normal;
    box-sizing: border-box;
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0 20px;
    margin-bottom: 44px;
    height: 275px;
}
.landscape-image {
    text-align: center;
    border: 0;
    vertical-align: top;
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    max-height: 100%;
    height: 100%;
    max-width: none;
}
.sub__layout__card__grid.gift {
    order: 1;
    margin-bottom: 10px;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}
.card__break {
    flex: 1 0 100%;
    display: block;
    height: 20px;
    order: 1;
    border: none;
    margin: 0;
}
.grid__half {
    flex: 2 0 580px;
    max-width: none;
}
.prime__video {
    position: relative;
    height: 100%;
    overflow: hidden;
    color: var(--white);
    background: var(--white);
}
.prime__video__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    z-index: 1;
}
.prime__video__maintitle {
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 13px!important;
    word-break: normal;
    line-height: 1.3em !important;
    white-space: normal;
    color: var(--white);
}

.prime__video__ui__card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.prime__video__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    -webkit-transform: scale(1.1);
    -webkit-filter: blur(10px);
    background-image: url(https://images-na.ssl-images-amazon.com/images/S/pv-target-images/d1df7bdf7c76eec04489aa7931026362fed5284766e091f85c8594851526cd3d._RI_V_TTW_QL40_AC_SL792_.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
}
.prime__video__imgLink {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;    
    height: 100%;
    width: 100%;
}
.prime__video__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.prime__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--black) 0, transparent 50%,var(--black));
    margin-bottom: 0;
}