.browsebox {
    font-family: var(--font-tertiary);
}
.giftCards__browseboxTitle {
    font-size: 13px;
    padding: 0;
    color: var(--black);
}
.giftCards__season ul {
    margin: 0 0 10px 10px;
    padding: 0 0 19px 0;
}
.giftCards__season ul li {
    line-height: 17px;
    list-style-type: none;
}
.giftCards__season ul li a {
    margin-left: 0;
    color: var(--black);
    font-size: 12px;
    text-decoration: none;
}
.giftCards__browsebox {
    margin-left: 0;
    font-size: 12px;
    color: var(--black);
    text-decoration: none;
}
.giftCards__lang li label {
    margin-left: 0;
}
.giftCards__checkbox a:hover, .giftCards__checkbox a:hover span {
    color: var(--ochre-4) !important;
    text-decoration: none;
}
.giftCards__balanceWidget {
    padding: 12px;
    background-color: var(--grey-tone-51);
}
.giftCards__balanceWidget ul li {
    height: 26px;
    margin: 0 2% 0 0 !important;
    border: thin solid crimson;
}
.giftCards__link {
    color: var(--black) !important;
    border-bottom: 1px solid;
}
.giftCards__link:hover, .giftCards__link:focus  {
    color: var(--ochre-4) !important;
}
.giftCards__main {
    margin-bottom: 22px;
}
.giftCards__mainContainer {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid blue;
}
.giftCards__column {
    position: relative;
    display: inline-block;
    margin-right: -.3em;
    vertical-align: top;
    min-height: 1px;
}
.giftCards__credit {
    padding-top: 44px;
    margin-bottom: 63px;
}