.browsebox .carat {
    margin-right: 0.2em;
    color: var(--ochre-5);
    font-weight: bold;
    font-size: 120%;
    font-family: Verdana, Arial, Helvetica, Sans-serif;
}
.giftCards__checkbox a:hover, .giftCards__checkbox a:hover span {
    color: var(--ochre-4) !important;
    text-decoration: none;
}
.giftCards__balanceWidget {
    padding: 12px;
    background-color: var(--grey-tone-51);
}
.giftCards__balanceWidget ul li {
    height: 26px;
    margin: 0 2% 0 0 !important;
}
.giftCards__link {
    color: var(--black) !important;
    border-bottom: 1px solid;
}
.giftCards__link:hover, .giftCards__link:focus  {
    color: var(--ochre-4) !important;
}
.giftCards__main {
    margin-bottom: 22px;
}
.giftCards__mainContainer {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.giftCards__column {
    position: relative;
    display: inline-block;
    margin-right: -.3em;
    vertical-align: top;
    min-height: 1px;
}
.giftCards__credit {
    padding-top: 44px;
    margin-bottom: 63px;
}