.page__header {
    font-size: 12px;
    min-width: 1000px;
    line-height: 1em;
}
.page__header a:hover, .page__header a:focus {
    /* color: var(--white) !important;  */
    color: var(--white); 
    text-decoration: none;
}