.navigationbar__brand {
    position: relative;
    padding : 4px 0 0;
}
.navigationbar__logo__link {
    padding: 1px 8px 0 6px;
    margin: 1px;
    height: 50px;
    cursor: pointer;
    border: thin solid brown;
}
.navigationbar__sprite {
    background-image: url(../../images/nav-sprite-global-1x-hm-dsk-reorg._CB405936603_.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    margin-top: 12px;
    pointer-events: none;
    float: left;
    text-indent: -500px;
    background-position: -10px -51px;
    width: 97px;
    height: 30px;
}
.nav__cart__icon {
    display: flex;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    line-height: 44px;
    color: #fff;
    background-image: url(../../images/nav-sprite-global-1x-hm-dsk-reorg._CB405936603_.png);
    background-repeat: repeat-x;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
}
