.carousel.slide {
    width: 100%;
    height: auto;
    max-width: 1500px;
    /* max-height: 230px; */
    max-height: none;
}
.carousel__detailed .carousel.slide {
    height: auto;
    max-height: none;
    margin-bottom: 24px !important;
}
.last .amzn__gift__cards .carousel.slide {
    margin-bottom: 0 !important;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    /* height: calc(100vh - 99px); */
    height: 100%;
    margin-bottom: 0!important;
    z-index: 0;
}
.carousel__detailed .carousel-inner {
    height: 324px;
    width: auto;
    margin: 0 40px;
}
.carousel__detailed .squished .carousel-inner {
    height: auto;
}
.giftCardAux .carousel-inner {
    margin: 0;
}
.amzn__gift__cards:last-of-type .carousel-inner {
    height: auto;
}
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    height: 100%;
    width: 80px;
    max-height: 250px;
    padding-left: 3px;
    visibility: visible;
    z-index: 10;
}
.carousel-control-next {
    padding-left: 0;
    padding-right: 3px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 52px;
    vertical-align: top;
    outline: 0;
    background-image: url(../../../../images/carousel-arrows.png);
    background-size: 68px 52px;
    background-position: 0 0;
    transform: translate(-50%,-50%);
}
.carousel-indicators {
    margin-bottom: 0;
}
.carousel-control-next-icon {
    background-position: -36px 0;
}
.secondary__slider .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
    margin: 0 0 5px;
}
.amzn__carousel {
    position: relative;
    left: 0px;
    margin-left: 0px;
}
.secondary__slider .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    min-height: 220px;
    white-space: nowrap;
}
.amzn__carousel__cards {
    position: relative;
    /* display: block; */
    display: flex;
    margin: 0 0 14px;
    padding: 0;
}
.carousel__detailed .amzn__carousel__cards {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow-x: visible;
    letter-spacing: -4px;
}
.amzn__carousel__cards > li {
    flex-grow: 1;
    position: relative;
    display: inline-block;
    overflow: hidden;
    min-height: 200px;
    min-width: 145px;
    max-width: 270px;
    max-width: 208px;
    max-height: 200px;
    margin: 0 10px 0 0;
    vertical-align: top;
    text-align: center;
    list-style: none;
}
.carousel__detailed .amzn__carousel__cards > li {
    display: inline-block;
    overflow: hidden;
    width: 160px;
    min-height: 100%;
    max-width: none;
    max-height: none;
    min-width: 0;
    margin-left: 33px;
    list-style-type: none;
    letter-spacing: normal;
    white-space: normal;
    text-align: left;
}
.carousel__compressed .amzn__carousel__cards > li { 
    width: 120px;
    margin-left: 28px;
    margin-right: 0;
}
.amzn__carousel__cards > li a {
    position: relative;
    display: inline-block;
    min-width: 145px;
}
.carousel__detailed .amzn__carousel__cards > li a {
    min-width: 0;
}
.amzn__carousel__cards figure {
    position: relative;
    height: 275px;
    margin-bottom: 0;
}
.carousel__detailed .amzn__carousel__cards figure {
    height: auto;
    margin-bottom: 4px;
}
.carousel__compressed .amzn__carousel__cards figure {
    height: 100px;
}
.carousel__compressed .amzn__carousel__cards figure img {
    width: 100px;
    height: 100px;
}
.amzn__carousel__cards figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.carousel__detailed .amzn__carousel__cards figcaption {
    position: static;
}
.amzn__carousel__control, 
.musicNonagon__carousel .carousel-control-prev,  
.musicNonagon__carousel .carousel-control-next {
    display: inline;
    position: absolute;
    top: 55px;
    height: 100px;
    width: 45px;
    padding-left: 0;
    line-height: 100px;
    text-align: center;
    background-color: var(--white);
    box-shadow: 0 1px 3px var(--grey-tone-23);
    opacity: 0;
    -webkit-user-select: none;
    transition: opacity 1s;
}
.carousel__detailed .amzn__carousel__control, 
.coupon__shoveler .amzn__carousel__control {
    display: inline-block;
    top: 130px;
    bottom: auto;
    margin-top: -16px;
    padding: 6px;
    width: 40px;
    max-height: none;
    height: auto;
    vertical-align: middle;
    opacity: .9;
    line-height: normal;
    border-radius: 8px !important;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    border-color: var(--grey-tone-25);
    border-style: solid;
    border-width: 1px;
}
.carousel__compressed .amzn__carousel__control {
    top: 60px;
}
.carousel__detailed .amzn__carousel__control:hover, 
.carousel__detailed .amzn__carousel__control:focus {
    background-color: var(--grey-tone-26);
    border-color: var(--grey-tone-25);
}
.amzn__carousel__control.carousel-control-prev {
    left: 0;
    padding-right: 5px;
    border-radius: 0 3px 3px 0;
    clip: rect(-10px, 55px, 110px, 0);
}
.amzn__carousel__control.carousel-control-next {
    right: 0;
    padding-left: 5px;
    border-radius: 3px 0 0 3px;
    clip: rect(-10px, 45px, 110px, -10px);
}
.amzn__carousel__control .carousel-control-prev-icon,
.amzn__carousel__control .carousel-control-next-icon {
    position: relative;
    display: inline-block;
    top: 50%;
    left: auto;
    height: 22px;
    width: 13px;
    margin-top: -11px;
    line-height: normal;
    vertical-align: top;
    background-size: 132px 235px;
    background-image: url('../../../../images/amzn-sprite-3.png');
    background-position: -14px 0;
    transform: none;
}
.carousel__detailed .amzn__carousel__control .carousel-control-prev-icon,
.carousel__detailed .amzn__carousel__control .carousel-control-next-icon,
.coupon__shoveler .amzn__carousel__control .carousel-control-prev-icon,
.coupon__shoveler .amzn__carousel__control .carousel-control-next-icon {
    top: auto;
    left: auto;
    height: 15px;
    width: 11px;
    margin: 5px 6px 5px 5px;
    border-radius: 7px;
    line-height: normal;
    vertical-align: top;
    background-size: 400px 900px;
    background-image: url(../../../../images/amzn-sprite-4.png);
    background-position: -123px -7px;
    background-repeat: no-repeat;
    transform: none;
}
.carousel__detailed .amzn__carousel__control .carousel-control-next-icon,
.coupon__shoveler .amzn__carousel__control .carousel-control-next-icon {
    background-position: -105px -7px;
}
.secondary__slider:hover .amzn__carousel__control {
    opacity: .9;
}
.amzn__carousel__control .carousel-control-prev-icon {
    left: auto;
}
.amzn__carousel__control .carousel-control-next-icon {
    background-position: 0 0;
}
.amzn__carousel__card {
    text-align: left;
}
.amzn__carousel__price {
    display: block;
    font-weight: 400;
    font-size: 17px !important;
    line-height: 21.34px !important;
    color: var(--black);
}
.amzn__carousel__oldprice {
    display: block;
    position: relative;
    bottom: 2px;
    font-weight: lighter;
    color: var(--grey-tone-23);
    text-decoration: line-through;
}
.carousel__detailed {
    position: relative;
    display: block;
    overflow: hidden;
    min-width: 940px;
}
.orders__wrap .carousel__detailed__layout__inner {
    border: none;
}
.carousel__detailed__layout__inner, 
* .carousel__detailed:last-child .carousel__detailed__layout__inner {
    padding: 10px 30px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--grey-tone-24);
}
.carousel__detailed__layout__inner.squished, 
* .carousel__detailed:last-child .carousel__detailed__layout__inner.squished {
    padding: 0;
    border: none;
}
* .carousel__detailed:first-child .carousel__detailed__layout__inner {
    padding-top: 37px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
* .carousel__detailed:not(:first-child) .carousel__detailed__layout__inner {
    border-top: none;
}
* .carousel__detailed:not(:last-child) .carousel__detailed__layout__inner {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.carousel__detailed__layout__inner.amzn__gift__cards {
    border: none;
    padding: 0 !important;
}
.carousel__detailed__slider__header {
    margin: 0 0 20px;
    line-height: 32px !important;
    font-size: 24px !important;
}
.amzn__gift__cards .carousel__detailed__slider__header {
    margin: 0 0 4px 0 !important;
}
.carousel__compressed .carousel__detailed__heading {
    font-size: 18px!important;
    line-height: 24px!important;
}
.carousel__count {
    margin-left: 2%;
    line-height: normal;
    font-weight: 400;
    font-size: initial;
}
.amzn__carousel__caption {
    overflow: hidden;
}
.amzn__price__symbol {
    position: relative;
    top: -.5em;
    font-size: 12px;
}
.amzn__price {
    position: relative;
    line-height: normal;
    font-size: 21px;
    text-decoration: none;
}
/* .amzn__price__whole {

} */
.amzn__price__decimal {
    position: absolute;
    opacity: 0;
}
.amzn__price__fraction {
    position: relative;
    top: -.5em;
    font-size: 12px;
}
.amzn__extra__caption {
    position: relative;
    top: -7px;
}
.amzn__carousel__star {
    display: inline-block;
    position: relative;
    height: 18px;
    width: 80px;
    vertical-align: top !important;
    background-image: url('../../../../images/amzn-sprite-5.png');
    background-size: 512px 256px;
    background-repeat: no-repeat;
    background-position: -84px -28px;
}
.amzn__carousel__star.amzn__gift__cards {
    position: relative;
    float: left;
    top: -2px;
    width: 95px;
    height: 21px;
    margin-right: 1px;
    vertical-align: text-top;
    background-image: url('../../../../images/amzn-sprite-4.png');
    background-size: 400px 900px;
    background-position: -5px -396px;
}
.amzn__carousel__count {
    display: inline-block;
    line-height: 16px !important;
    font-size: 12px !important;
}
.amzn__carousel__dateOfPurchase {
    display: block;
}
.amzn__carousel__delivery {
    display: block;
}
.carousel__divider {
    border-top: 1px solid var(--grey-tone-24);
    height: 17px;
}
.carousel__compressed {
    padding-bottom: 14px;
}
.carousel__detailed__frame, .carousel__compressed {
    overflow: hidden;
}
.carousel__detailed__container {
    position: relative;
    overflow: hidden;
    height: 150px;
    padding: 0 10px;
}
.carousel__detailed__link {
    margin-left: 15px;
    font-size: 12px !important;
    line-height: 16px !important;
}
.carousel__compressed .carousel__count {
    font-size: 14px !important;
    line-height: 20px !important;
}
/*create room for 'Add to Cart' button for Orders page*/
.order__slider {
    padding-bottom: 41px;
}
.amzn__carousel__cards .addToCartBtn, .amzn__carousel__cards .a__button__cart,
 .card__holder .addToCartBtn, .viewDeal {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.dotdBadge {
    float: left;
    display: inline-block;
    overflow: hidden;
    height: 18px;
    max-width: 90%;
    padding: 0 5px;
    vertical-align: middle;
    font-size: 11px!important;
    text-align: center;
    font-weight: 700!important;
    color: var(--white) !important;
    white-space: nowrap;
    background: var(--ochre-4);
}
.badgeSkew {
    float: left;
    border-right: 4px solid transparent;
    border-top: 18px solid var(--ochre-4);
}
.dealPriceExpiredText {
    color: var(--mid-grey) !important;
}

.music__carouselImg {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-size: contain;

    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}
.music__carousel .amzn__carousel__cards {
    justify-content: space-between;
}
.music__carousel .amzn__carousel__cards > li {
    flex: 1 0 auto;
    /* padding: 4px 32px 4px 0; */
    min-width: 0;
    max-height: none;
    min-height: 0;
    max-width: none;
    margin: 0;
    border: 2px solid lawngreen;
}
.music__carousel .amzn__carousel__cards > li figure {
    display: inline-block;
    width: 167px;
    height: auto;
    max-width: 167px;
}
.music__carousel .amzn__carousel__cards > li figure a {
    width: 167px;
    height: 167px;
    max-width: 167px;
    max-height: 167px;
    min-width: 0;
    min-height: 0;
}
.music__carousel figcaption {
    line-height: 26px;
    contain: content;
    color: var(--white);
}
.music__carousel .amzn__carousel__cards > li figure a:before {
    position: absolute;
    content: "";
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    cursor: pointer;
    z-index: 1;
}
.music__carousel .amzn__carousel__cards > li figure a:hover:before,
.music__carousel .amzn__carousel__cards > li figure a:focus:before {
    display: flex;
}
.music__carousel figcaption {
    position: static;
    left: auto;
    right: auto;
    text-align: left;
    font-style: normal;
}
.music__carousel figcaption em {
    overflow: hidden;
    padding-right: 10px;
    line-height: 20px;
    margin-top: 2px;
    font-style: normal;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: thin solid lime;
}
.music__carousel figcaption span {
    display: block;
    font-size: 16px;
    opacity: .5;
}
.music__carouselBtn {
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    flex-wrap: nowrap;
    min-width: inherit;
    margin: 0px;
    padding: 14px;
    width: 64px;
    height: 64px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: -webkit-baseline-middle;
    pointer-events: auto;
    cursor: pointer;
    outline: none;
    border-radius: 300px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: normal;
    white-space: normal;
    text-transform: capitalize;
    color: var(--white);
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid transparent;
    box-shadow: none;
    backdrop-filter: blur(10px);
}
.music__carousel .amzn__carousel__cards > li figure:hover .music__carouselBtn,
.music__carousel .amzn__carousel__cards > li figure:focus .music__carouselBtn {
    display: inline-block;
}
.music__carouselBtn svg {
    position: relative;
    width: 32px !important;
    height: 32px;
}
.amazonMusic__carousel .carousel-indicators {
    display: none;
}
.amazonMusic__carousel .amzn__carousel__control,
.musicNonagon__carousel .carousel-control-prev,  
.musicNonagon__carousel .carousel-control-next {
    top: -40px;
    right: 60px;
    left: auto;
    max-height: none;
    width: 24px;
    height: 24px;
    padding-right: 0;
    line-height: normal;
    box-shadow: none;
    opacity: 1;
    border-radius: 0;
    clip: unset;
    background-color: transparent;
}
.musicNonagon__carousel .carousel-control-prev,  
.musicNonagon__carousel .carousel-control-next {
    top: -28px;
}
.amazonMusic__carousel .carousel-control-prev {
    right: 190px;
}
.amazonMusic__carousel .carousel-control-next {
    right: 140px;
}
/* .musicNonagon__carousel .carousel-control-prev {
    right: 190px;
}
.musicNonagon__carousel .carousel-control-next {
    right: 140px;
} */
.amazonMusic__carousel .carousel-control-prev-icon {
    background: url('../../../../images/arrow-left.png') no-repeat;
}
.amazonMusic__carousel .carousel-control-next-icon {
    background: url('../../../../images/arrow-right.png') no-repeat;
}

.musicNonagon__carousel {
    padding: 24px 0px 12px;
    color: var(--white);
}
.amznMusic__carousel__cards {
    overflow: auto;
    flex-flow: column wrap;
    align-content: flex-start;
    max-height: 275px;
    margin-left: 0;
}
.amznMusic__carousel__cards li {
    position: relative;
    display: inline-block;
    padding: 8px 4px 8px 0px;
    width: 100%;
    height: 56px;
    contain: content;
    color: var(--white);
}
.amznMusic__carousel__cards li figure {
    display: inline-flex;
    align-items: center;
    height: 56px;
    margin: 0;
    outline: none;
}
.amznMusic__carousel__cards li figure a {
    position: relative;
    flex-basis: 56px;
    width: 56px;
    height: 56px;
}
.music__nonagonImg {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.amznMusic__carousel__cards li figcaption {
    flex: 3 1 0%;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 12px;
}
.amznMusic__carousel__cards li figcaption em {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    line-height: 22px;
    font-style: normal;
}
.amznMusic__carousel__cards li figcaption span {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 2px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.amazonMusic__carousel .music__btn {
    right: 50px;
}
.music__nonagonImgCtrl {
    position: absolute;
    display: none;
    bottom: 0;
    top: 5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75em;
}
.amznMusic__carousel__cards li:hover .music__nonagonImgCtrl, 
.amznMusic__carousel__cards li:focus .music__nonagonImgCtrl {
    display: flex;
}
.music__nonagonImgCtrl button {
    color: var(--white);
}
.music__nonagonImgPlay {
    position: relative;
    padding: 10px;
    background: rgba(0,0,0,.4);
    font-size: 1.5em;
}
.music__nonagonImgMainCtrl {
    margin-right: 40px;
}
.music__nonagonImgMainCtrl > * {
    display: inline-block;
    width: 40px;
}







@media (min-width: 0) {
    .amznMusic__carousel__cards {
        padding-left: calc(20px);
        padding-right: calc(20px);
    }
}
@media (min-width: 360) {
    .amznMusic__carousel__cards {
        padding-left: calc(20px);
        padding-right: calc(20px);
    }
    .amznMusic__carousel__cards li {
        flex: 0 0 calc((100% - 16px + 4px) / 1);
        width: calc((100% - 16px + 4px) / 1);
        max-width: calc((100% - 16px + 4px) / 1);
        padding-right: 16px;
    }
}
@media (min-width: 480px) {
    .amznMusic__carousel__cards {
        padding-left: calc(36px);
        padding-right: calc(36px);
    }
    .amznMusic__carousel__cards li {
        padding-right: 24px;
        flex: 0 0 calc((100% - 24px + 12px) / 1);
        width: calc((100% - 24px + 12px) / 1);
        max-width: calc((100% - 24px + 12px) / 1);
    }
}
@media (min-width: 640px) {
    .amznMusic__carousel__cards li {
        padding-right: 24px;
        flex: 0 0 calc((100% - 24px + 12px) / 2);
        width: calc((100% - 24px + 12px) / 2);
        max-width: calc((100% - 24px + 12px) / 2);
    }
}
@media (min-width: 840px) {
    .amznMusic__carousel__cards li {
        padding-right: 24px;
        flex: 0 0 calc((100% - 24px + 12px) / 3);
        width: calc((100% - 24px + 12px) / 3);
        max-width: calc((100% - 24px + 12px) / 3);
    }
}
@media (min-width: 1280px) {
    .amznMusic__carousel__cards {
        padding-left: calc(52px);
        padding-right: calc(52px);
    }
    .amznMusic__carousel__cards li {
        padding-right: 32px;
        flex: 0 0 calc((100% - 32px + 20px) / 3);
        width: calc((100% - 32px + 20px) / 3);
        max-width: calc((100% - 32px + 20px) / 3);
    }
}