.photos--page {
    font-size: 14px;
}
.photos__container {
    margin-left: -10px;
    margin-right: -10px;
}
.photos__banner {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 auto;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    line-height: normal;
    width: 100%;
    min-width: 1000px;
    background-color: var(--blue-8);
    z-index: 10;
}
.photos__nav {
    width: 100%;
}
.photos__navContainer {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    height: 60px;
}
.photos__logo img {
    height: 30px;
    width: auto;
    margin: 4px calc(10px + 3.125vw) 0 0;
}
.photos__links {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: center;
    height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.photos__links > li {
    position: relative;
    height: 60px;
    line-height: 60px;
    margin-right: calc(10px + 3.125vw);
    font-size: 15px;
    font-weight: 400;
    list-style: none;
    font-family: var(--font-primary);
    cursor: pointer;
    border: thin solid palegoldenrod;
}
.photos__links > li a {
    display: block;
    height: 100%;
    line-height: inherit;
    white-space: nowrap;
    color: var(--white);
    text-decoration: none;
}
.photos__bannerMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    line-height: normal;
    align-items: flex-end;
    align-content: flex-end;
    flex: 0 0 auto;
    background-color: var(--blue-23);
    width: 100%;
    border: 2px solid aquamarine;
}
.photos__bannerItem {
    width: 50%;
    border: thin solid peru;
}
.photos__bannerTitle {
    flex-grow: 1;
    width: 100%;
    margin: 0;
    padding-bottom: 0;
    font-size: 60px;
    line-height: 1.2;
    color: var(--grey-tone-37);
    font-weight: 300;
    text-transform: none;
}
.photos__bannerTitle--subtitle {
    width: 79.16666666666667%;
    flex: 0 1 79.16666666666667%;
    border: thin solid brown;
}
.photos__bannerItem .apply__to__sellBtn {
    display: inline-block;
    margin-left: 0;
    min-width: 210px;
    padding: 15px 52.5px;
    font-size: 30px !important;
    line-height: normal;
    white-space: normal;
    border-radius: 60px;
    font-family: var(--font-primary);
    transition: none;
}
.photos__benefits {
    background-color: var(--white);
}
.photos__benefits > .has__max__width {
    width: 83.33333%;
}
.photos__benefit {
    width: 25%;
    margin-bottom: 0;
    border: thin solid khaki;
}
.photos__benefit img {
    height: 200px;
}
.photos__benefit figcaption {
    color: var(--blue-8);
}
.photos__primeImg {
    width: 45.833333333333336%;
}
.photos__primeMore {
    width: 54.166666666666664%;
}
.photos__primeMore .heading {
    align-items: center;
    margin: 0;
    line-height: 1.2;
    text-transform: none;
    color: var(--blue-8);
    border:thin solid yellow;
}
.photos__primeMore .heading strong {
    display: block;
    line-height: 1.2;
    border: 4px solid thistle;
}
.photos__primeList {
    padding-left: 20px;
    margin: 0 0 18px 18px;
    list-style: disc;
    text-align: left;
}
.photos__primeList li {
    font-size: 24px;
    color: var(--blue-8);
}
.photo__link {
    color: var(--blue-8) !important;
}
.photo__link:hover, .photo__link:focus {
    color: inherit;
}