.coupon__shoveler .carousel.slide {
    position: relative;
    height: 400px;
    max-height: 400px;
    border: 2px solid yellow;
}
.coupon__shoveler .carousel-inner {
    width: auto;
    height: 339px;
    overflow: hidden;
    margin: 0 40px;

    transform: translate3d(0,0,0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border: thin solid red;
}
.coupon__shoveler .amzn__carousel__cards {
    height: inherit;
    margin: 0;
}
.coupon__shoveler .carousel-item {
    height: inherit;
    margin-right: 0;
}
.coupon__shoveler .amzn__carousel__cards > li {
    margin: 0 0 0 9px;
    text-align: left;
    min-height: 100%;
    list-style-type: none;
    white-space: normal;
    letter-spacing: normal;

    border-radius: 4px;
    background-color: var(--white);
    display: inline-block;
    margin-bottom: 10px;
    width: 160px;

    position: relative;
    border: 2px solid lime;

    margin-bottom: 8px;
}
.coupon__shoveler .coupon__slideBox {
    display: inline-block;
    padding: 12px;
    text-align: left;
    margin-bottom: 10px;
    width: 170px;
    border: thin solid green;
}
.coupon__shoveler .coupon__slideImg {
    text-align: center;
    height: 170px;
    margin-bottom: 8px;
    border: 2px solid indigo;
}
.coupon__itemPrice {
    min-height: 45px;
    margin-bottom: 19px;
}
.coupon__itemTitle {
    overflow: hidden;
    height: 43px;
    margin-bottom: 10px;
}
.coupon__titleText {
    font-family: arial, helvetica, sans-serif;
}