.promoModal {
    font-size: 16px !important;
    font-family: var(--font-secondary) !important;
}
.coupon {
    position: relative;
    height: 95px;
    width: 100%;
    min-width: 850px;
    padding-top: 15px;
    background-color: var(--grey-tone-45);
}
.coupon__barText {
    margin-left: 0.5em;
    margin-right: 0.5em;
    vertical-align: middle;
}
.coupon__columnTxt {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.0em;
    margin-right: 1.0em;
    text-align: left;
    cursor: pointer;
}
.coupon__barColumnTxt {
    position: absolute;
    display: inline-block;
    right: 10px;
    max-width: 450px;
    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 1.0em;
    text-align: left;
    zoom: 1;
}
.coupon__barColumnTxt .dropdown {
    display: inline;
}
.coupon__barColumnTxt .nav-link {
    display: inline;
    padding: 0;
}
.coupon__popover {
    position: fixed;
    padding: 8px;
    top: 20px;
    left: 421px;
    z-index: 299;
    width: 576px;
    font-size: 13px;
    max-width: none;
    opacity: 1;
}
.coupon__popover.promoModal {
    display: block;
    position: static;
    width: auto;
    border: none;
    border-radius: 0;
    z-index: 0;
}
.coupon__popoverHeading {
    width: 100%;
    padding: 0 3px 0 0;
    margin-bottom: 18px;
    font-size: 13px;
    color: var(--white);
    background-color: var(--ochre-26);
}
.promoModal .coupon__popoverHeading {
    padding-left: 7px;
    line-height: 30px;
    font-size: 16px;
}
.coupon__terms {
    position: relative;
    padding-bottom: 40px;
}
.coupon__terms:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    z-index: 10;
    background-color: var(--ochre-26)
}
.coupon__apBrowseHeading {
    margin: 0;
    font-weight: normal;
    font-size: 225%;
    color: var(--ochre-5);
    letter-spacing: -0.03em;
}
.coupon__paraText {
    padding: 0;
    font-size: 90%;
    color: var(--grey-tone-49);
    margin: 0;
}
.coupon__paraText a, .coupon__paraText a:active, 
.coupon__paraText a:link, .coupon__paraText a:visited {
    text-decoration: underline;
}
.coupon__shoveler {
    /* background-color: var(--white); */
}
.coupon__shovelerHeading {
    height: 40px;
}
.coupon__shovelerHeadingTxt {
    padding-right: 10px;
    font-size: 17px;
    line-height: 1.255;
    text-align: left;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}
.coupon__shovelerSort {
    padding: 3px;
}
.coupon__shovelerSort {
    padding-right: 7px;
    line-height: 1.4em;
    font-family: 'ArialMT', 'Arial';
}

.coupon__boxHeader {
    text-align: left;
    cursor: pointer;
    vertical-align: middle;
    border: thin solid cyan;
}
.coupon__grid {
    padding-top: 16px;
    text-align: center;
}
.coupon__gridSort {
    color: var(--grey-tone-50);
}
.coupon__gridInner {
    display: block;
    overflow: hidden;
    max-width: 2000px;
    max-height: 3810px;
}
.coupon__gridSingle {
    display: inline-block;
    width: 200px;
    height: 381px;
    text-align: left;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: var(--white);
}
.coupon__gridInnerBlock {
    position: relative;
    padding: 12px;
    border-radius: 4px;
}
.coupon__gridImg {
    height: 170px;
    margin-bottom: 8px;
    text-align: center;
    cursor: pointer;
}
.coupon__itemTitle {
    min-height: 45px;
    margin-bottom: 0px;
    padding-top: 19px;
}
.coupon__gridTitle {
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
}
.coupon__gridTitleText {
    font-family: arial, helvetica, sans-serif;
    cursor: pointer;
}
.coupon__clip {
    min-height: 47px;
    margin-bottom: 0px;
    /* border: thin solid chocolate; */
}
.coupon__getMore {
    margin-top: 1em;
    padding: 0.75em;
    color: var(--grey-tone-14);
    font-size: large;
    border-radius: 4px;
    border: 1px solid gray;

}
.coupon__getMore:hover, .coupon__getMore:focus {
    background-color: lightgray;
    cursor: pointer;
}
.coupon__widget {
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
}
.coupon__widget h2 {
    padding: 0;
    margin: 0 0 0.35em 0px;
    font-size: 135%;
    font-weight: bold;
    color: var(--ochre-5);
}
.coupon__widget p {
    margin: 0 0 0.5em 0;
    line-height: 1.4em;
}