.navBreadcrumb li {
    display: inline-block;
    margin: 0;
    margin-right: .2em;
    list-style: none;
    word-wrap: break-word;
}
.navBreadcrumb li a {
    display: inline-block;
}
.navBreadcrumb li:after {
    content: "›";
    position: relative;
    display: inline-block;
    margin-right: .4em;
    margin-left: .8em;
    color: var(--mid-grey);
    top: -.1em;
    right: 0;
}
.navBreadcrumb li:last-child:after {
    content: "";
}
.breadcrumb__pageNav {
    padding: 0 16px !important;
    margin-bottom: 0 !important;
    margin-top: 8px !important;
}
.breadcrumb__pageNav .a__unordered__list li {
    margin-right: .4235em;
}