.navigationbar__account {
    position: relative;
    left: -520px;
    width: 766px;
    margin: -3px 0 0 -2px;
    padding-bottom: 7px;
}
.navigationbar__account__flyout__content {
    display: flex;
    flex: 0 0 766px;
    flex-flow: row nowrap;
    font-size: 13px;
}
.navigationbar__buy__again, .navigationbar__wishlist, .navigationbar__your__account {
    flex: 1 1 0;
}
.navigationbar__buy__again, .navigationbar__wishlist, .navigationbar__your__account {
    overflow: hidden;
    padding: 14px;
    margin: -1px;
    border-radius: 3px 0 0 3px;
    background: var(--white);
}
.navigationbar__buy__again {
    margin: -9px 1px -7px -15px;
    padding-top: 28px;
    border: 1px solid var(--grey);
}
.navigationbar__wishlist {
    padding-right: 0;
    margin-right: 20px;
}
.navigationbar__your__account {
    padding-left: 20px;
    border-left: 1px solid var(--grey-tone-9);
}
.navigationbar__wishlist, .navigationbar__your__account {
    padding-bottom: 0;
}
.navigationbar__account__heading {
    margin-bottom: 12px;
}
.navigationbar__recent__purchases {
    margin-bottom: 4px;
}
.navigationbar__recent__purchases > li {
    margin-bottom: 16px;
}
.navigationbar__recent__grid {
    position: relative;
}
.navigationbar__recent__grid__inner {
    display: flex;
}
.navigationbar__recent__avatar {
    position: relative;
    overflow: visible;
    flex-basis: 87px;
    align-self: flex-start;
}
.navigationbar__recent__details {
    position: relative;
    flex: 1;
}
.navigationbar__avatar__link {
    display: inline-block;
    width: 100%;
    white-space: normal;
    line-height: 1.3em !important;
    max-height: 3.9em;
}

/* Add to Cart */

.navigationbar__cart__form {
    padding-top: 4px;
    margin-top: 0!important;
    margin-bottom: 0;
}

/* Wishlist */

.navigationbar__account__empty {
    display: none;
}
.navigationbar__account__empty__link {
    position: relative;
    display: block;
    clear: both;
    font-family: inherit;
    line-height: 16px;
    padding: 0 0 7px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}
.navigationbar__account__empty__link > span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    white-space: normal;
    color: var(--grey-tone-8);
}
.navigationbar__account__empty__link:hover > span {
    color: var(--ochre-5);
    text-decoration: underline;
}   