.seeAllResults {
    background-color: var(--grey-tone-9) !important;
    border: none;
}
.seeAllResults .a__box__inner {
    padding: 8px 18px !important;
}
.seeAllResults a:hover, 
.seeAllResults a:hover span,
.seeAllResults a:focus, 
.seeAllResults a:focus span {
    color: var(--ochre-4) !important;
}
.location__submit {
    position: absolute;
    min-height: 44px;
    min-width: 90px;
    width: 50px;
    right: 0;
    top: 0;
    height: 2.75em;
    min-width: 50px;
    padding: 0;
    white-space: initial;
    border: 0;
    font-size: inherit;
    border-radius: 2px;
    text-decoration: none;
    color: var(--white);
    background: var(--ochre-35);
}
.button__icon {
    display: inline;
    padding: 1em;
    background: url('../../../images/search-icon.svg') no-repeat;
    background-position: center center;
    background-size: 21px 21px;
}
.campaignBanner {
    background-color: var(--blue-9);
}
.campaignBanner .bannerImg {
    max-width: 100%;
}
.campaignBanner .banner__btn__container {
    position: absolute;
    display: flex;
    top: 0;
    height: 100%;
    right: 10%;
    align-items: center;
}
.campaignBanner .banner__btn {
    padding: 12px;
    min-height: 44px;
    min-width: 90px;
    line-height: 29px;
    font-size: 23px;
    color: var(--white);
    border-radius: 0;
    border-width: 4px !important;
    border: 2px solid var(--white) !important;
}
.secondary__submit {
    display: inline-block;
    margin: -30px 0 0 0;
    padding: 7px 16px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    white-space: nowrap;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    user-select: none;
    -webkit-appearance: button;
    cursor: pointer;
    color: var(--white);
    border: 1px solid transparent;
    border-color: var(--blue-13);
    background-color: var(--blue-13);
    border-width: 2px;
    border-style: solid;
    border-radius: 0px;
    transition: all .15s ease-in;
}
.btn__pillRounded {
    display: block;
    flex-shrink: 0;
    height: 40px;
    padding: 0 1.3em !important;
    width: auto;
    min-width: 0;
    white-space: nowrap;
    font-size: 16px !important;
    line-height: 37px !important;
    order: 3;
    z-index: 5;
    font: 700 16px/16px Helvetica, Arial, sans-serif !important;
    color: var(--bg-light-blue);
    border: 2px solid var(--ochre-26);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--ochre-26);
    box-shadow: 0 0 16px rgba(0,0,0,.2);
    transition: box-shadow .15s;
}
.btn__pillRounded:after {
    content: "";
    display: inline-block;
    background: rgba(0,0,0,0) url('../../../images/amzn-sprite-10.svg') no-repeat;
    transition: transform .2s cubic-bezier(.64,.15,.53,.53);
    transition: transform .2s cubic-bezier(.64,.15,.53,.53),-webkit-transform .2s cubic-bezier(.64,.15,.53,.53);
}
.btn__pillRoundedLg {
    display: inline-block;
    padding: 16px 36px;
    font-size: 24px !important;
    text-decoration: none;
    line-height: 24px !important;
    text-align: center;
    font: 700 16px/16px Helvetica, Arial, sans-serif !important;
    border-radius: 36px;
    background-color: var(--ochre-26);
    cursor: pointer;
    border: 2px solid var(--ochre-26);
    box-shadow: 0 0 16px rgba(0,0,0,.2);
    color: var(--bg-light-blue);
    transition: box-shadow .15s;
}
.btn__pillRoundedLg:after {
    content: "";
    display: inline-block;
    background: rgba(0,0,0,0) url('../../../images/amzn-sprite-10.svg') no-repeat;
    transition: transform .2s cubic-bezier(.64,.15,.53,.53);
    transition: transform .2s cubic-bezier(.64,.15,.53,.53), -webkit-transform .2s cubic-bezier(.64,.15,.53,.53);
}
.btn__pillRoundedObscureLg {
    display: revert;
    position: relative;
    align-self: flex-end;
    height: auto;
    margin-bottom: 0;
    padding: 9px 20px 9px 42px;
    padding-left: 35px;
    min-width: 0;
    text-align: left;
    margin-left: 8px;
    color: var(--grey-tone-22);
    font-size: 14px !important;
    font-weight: 400 !important;
    text-decoration: none;
    font: 400 14px/16px Helvetica, Arial, sans-serif !important;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--blue-18);
    transition: background-color .15s;
}
.btn__pillRoundedObscureLg:hover, .btn__pillRoundedObscureLg:focus {
    background-color: var(--bg-light-blue);
}
.btn__pillRoundedObscureLg:before {
    content: "";
    position: absolute;
    display: inline-block;
    margin-left: -22px;
    left: unset;
    height: 17px;
    width: 17px;
    background: rgba(0,0,0,0) url('../../../images/amzn-sprite-10.svg') no-repeat;
}
.btn__pillRoundedObscureLg--lang:before {
    background-position: -176px -529px;
}
.btn__pillRoundedObscureLg--country {
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 20px;
    font: 400 16px/16px Helvetica, Arial, sans-serif !important;
    align-self: center;
    padding-left: 45px;
}
.btn__pillRoundedObscureLg--country:before {
    width: 24px;
    height: 18px;
    margin-top: -1px;
    margin-left: -30px;
    padding-right: 4px;
    background: rgba(0,0,0,0) url('../../../images/amzn-sprite-flag-langs.png') no-repeat;
    background-position: -3px -52px;
    background-size: 30px;
}
.btn__pillRoundedObscureLg--star:before {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 1px;
    margin-bottom: 0;
    margin-left: -18px;
    background: rgba(0,0,0,0) url('../../../images/amzn-sprite-10.svg') no-repeat;
    background-position: -177px -570px;
}
.btn__pillRoundedObscureLg:after {
    content: "";
    display: inline-block;
    background: rgba(0,0,0,0) url('../../../images/amzn-sprite-10.svg') no-repeat;
    transition: transform .2s cubic-bezier(.64,.15,.53,.53),-webkit-transform .2s cubic-bezier(.64,.15,.53,.53);
}