.shopbop--page {
    margin: 0;
    line-height: 26px;
    font-size: 14px;
    text-align: left;
    color: var(--black);
    background-color: var(--white);
    font-family: "GT-America-Standard","Helvetica Neue",Helvetica,sans-serif;
    box-sizing: border-box;
}
.shopbop--page a {
    color: var(--black);
}
.shopbop__header {
    position: relative;
    width: 100%;
}
.shopbop__headerContainer {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 40px;
    transition: background-color 350ms ease-in-out;
    z-index: 120;
    transform: translateZ(0);
    background-color: var(--grey-tone-128);
}
.shopbop__headerBar {
    display: inline-flex;
    width: 1024px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
.shopbop__headerCurrency {
    position: relative;
    display: inline-flex;
    width: 25%;
    margin: 0;
    font-size: 14px;
}
.shopbop__headerFree {
    width: 50%;
    margin: 12px 0 0 0;
    line-height: 17px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.shopbop__headerRegister {
    display: inline-flex;
    width: 25%;
    font-size: 14px;
    line-height: 17px;
}
.shopbop__util {
    position: relative;
    margin: 0;
    padding: 12px 0 0 6px;
    line-height: 17px;
    cursor: pointer;
}
.shopbop__utilMarker {
    position: relative;
    top: -2px;
}
.shopbop__headerFree {
    width: 50%;
    margin: 12px 0 0 0;
    line-height: 17px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.shopbop__headerFree a {
    color: var(--black);
}
.shopbop__headerRegister {
    display: inline-flex;
    align-items: center;
    width: 25%;
    font-size: 14px;
    line-height: 17px;
}
.shopbop__signin {
    position: relative;
    padding: 20px 0 50px 6px;
    margin: 0 5px 0 auto;
    cursor: pointer;

    position: relative;
    padding: 12px 0 0 6px;
    line-height: 17px;
    cursor: pointer;
}
.shopbop__signin a {
    /* color: var(--black); */
}
.shopbop__hearts {
    position: relative;
    align-items: center;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
.shopbop__hearts a {
    width: 32px;
    height: 32px;
}
.shopbop__hearts a img {
    transition: transform 225ms;
}
.shopbop__cart {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.shopbop__cart img {
    width: 16px;
    height: 19px;
    margin-right: 5px;
    transition: transform 225ms;
}
.shopbop__cart img:hover, .shopbop__cart img:focus ,
.shopbop__hearts a:hover img, .shopbop__hearts a:focus img {
    transform: scale(1.2);
}
.shopbop__cartCount {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 2px 6px 2px 0;
    font-size: 14px;
    transition: font-size 225ms;
}
.shopbop__logo {
    position: relative;
    width: 1024px;
    height: 88px;
    margin: 0 auto;
    z-index: 10;
}
.shopbop__logo a {
    display: block;
    margin: 0 auto 0 auto;
}
.shopbop__logo a img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 45px;
    margin: 27px auto 28px auto;
    transition: all 300ms ease-in-out;
}
.shopbop__navList > ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    line-height: 26px;
    font-size: 12px;
    text-align: left;
    color: var(--black);
    text-transform: uppercase;
    box-sizing: border-box;
}
.shopbop__navList > ul > li {
    display: inline-flex;
    list-style: none;
    padding: 0 0 2px 0;
    font-size: 12px;
    line-height: 16px;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
}
.shopbop__navList > ul > li a {
    padding: 12px 0 5px 0;
    margin: 0 8px 0 8px!important;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--black);
    background: transparent;
    z-index: 1031;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all 225ms ease-in-out;
}
.shopbop__search {
    font-size: 1.5em;
}
.shopbop__body {
    position: relative;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.shopbop__welcome {
    display: flex;
    width: 1024px;
    height: 564px;
    padding-top: 20px;
    margin: 0;
    font-size: 14px;
    background-color: var(--white);
}
.shopbop__welcomeTo {
    flex-direction: column;
    text-align: center;
}
.shopbop__welcomeHeader {
    padding: 5.5rem 5.5rem 2rem;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 13px;
    font-weight: 300;
    color: var(--black);
}
.shopbop__welcomeLogo img {
    height: 45px;
    width: 181px;
}
.shopbop__container {
    padding: 0rem 5.5rem;
}
.shopbop__container p {
    height: 78px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: var(--black);
}
.shopbob__mailing input[type="email"] {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 200px;
    padding: .1em;
    padding-left: 10px;
    margin-bottom: 1em;
    line-height: 12px;
    margin: 0;
    font-size: 10px;
    font-weight: 300;
    vertical-align: top;
    color: var(--black);
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey-tone-129);
    background-color: var(--white);
    box-shadow: none;
    border: .1em solid var(--black);
    border-radius: 0;
    transition: border linear .2s, box-shadow linear .2s;
    box-sizing: border-box;
    -webkit-appearance: none;
}
.shopbob__mailing input[type="submit"] {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 100px;
    margin: 0;
    padding: .1em;
    padding-left: 10px;
    margin-bottom: 1em;
    font-size: 12px;
    line-height: 14px;
    vertical-align: middle;
    border-radius: 0;
    color: var(--white);
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 0;
    box-shadow: inset 0 .1em .1em rgba(0,0,0,0.075);
    background-color: var(--red-4);
    transition: border linear .2s,box-shadow linear .2s;
    box-sizing: border-box;
    -webkit-appearance: none;
}
.shopbop__containerLinks {
    display: flex;
    justify-content: center;
    padding: 2.5rem 5.5rem 2rem;
    margin-left: 0;
}
.shopbop__containerLinks li {
    margin: 0.5rem;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
}
.shopbop__containerLinks li a {
    color: var(--red-4);
}
.shopbop__posterImg img {
    max-width: none;
}
.shopbop__seo {
    margin-top: 2rem;
}
.shopbop__seo img {
    vertical-align: middle;
}
.seoLinks {
    margin-bottom: 26px;
}
.seoLinks a {
    text-decoration: none;
}
.shopbop__seo ul li {
    display: inline;
}
.shopbop__footer {
    width: 1024px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 12px;
}
.shopbop__footerPri {
    display: flex;
}
.shopbop__services {
    display: inline-block;
    width: 20%;
    font-size: 12px;
    line-height: 26px;
    vertical-align: top;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    color: var(--black);
    box-sizing: border-box;
}
.shopbob__servicesHeader {
    list-style: none;
    color: var(--black);
    line-height: 24px;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.shopbop__services li:not(.shopbob__servicesHeader) {
    line-height: 24px;
    letter-spacing: .15px;
}
.shopbop__services li:not(.shopbob__servicesHeader) a:hover,
.shopbop__services li:not(.shopbob__servicesHeader) a:focus {
    font-weight: 600;
    text-decoration: none;
}
.shopbop__footerSecLinks {
    margin-top: 58px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}
.shopbop__footerSpecialLinks {
    font-size: .9em;
    font-weight: bold;
    text-decoration: underline !important;
}