.shopbop--page {
    margin: 0;
    line-height: 26px;
    font-size: 14px;
    text-align: left;
    color: var(--black);
    background-color: var(--white);
    font-family: "GT-America-Standard","Helvetica Neue",Helvetica,sans-serif;
    box-sizing: border-box;
}
.shopbop--page a {
    color: var(--black);
}
.shopbop__header {
    position: relative;
    width: 100%;
}
.shopbop__headerContainer {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 40px;
    transition: background-color 350ms ease-in-out;
    z-index: 120;
    transform: translateZ(0);
    background-color: var(--grey-tone-128);
}
.shopbop__headerBar {
    display: inline-flex;
    width: 1024px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
.shopbop__headerCurrency {
    position: relative;
    display: inline-flex;
    width: 25%;
    margin: 0;
    font-size: 14px;
}
.shopbop__headerFree {
    width: 50%;
    margin: 12px 0 0 0;
    line-height: 17px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.shopbop__headerRegister {
    display: inline-flex;
    width: 25%;
    font-size: 14px;
    line-height: 17px;
}
.shopbop__util {
    position: relative;
    margin: 0;
    padding: 12px 0 0 6px;
    line-height: 17px;
    cursor: pointer;
}
.shopbop__utilMarker {
    position: relative;
    top: -2px;
}
.shopbop__headerFree {
    width: 50%;
    margin: 12px 0 0 0;
    line-height: 17px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    border: thin solid indigo;
}
.shopbop__headerFree a {
    color: var(--black);
}
.shopbop__headerRegister {
    display: inline-flex;
    align-items: center;
    width: 25%;
    font-size: 14px;
    line-height: 17px;
}
.shopbop__signin {
    position: relative;
    padding: 20px 0 50px 6px;
    margin: 0 5px 0 auto;
    cursor: pointer;
    border: thin solid yellow;

    position: relative;
    padding: 12px 0 0 6px;
    line-height: 17px;
    cursor: pointer;
}
.shopbop__signin a {
    /* color: var(--black); */
}
.shopbop__hearts {
    position: relative;
    align-items: center;
    margin: 0 5px 0 5px;
    cursor: pointer;
    border: thin solid yellowgreen;
}
.shopbop__hearts a {
    width: 32px;
    height: 32px;
}
.shopbop__hearts a img {
    transition: transform 225ms;
}
.shopbop__cart {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.shopbop__cart img {
    width: 16px;
    height: 19px;
    margin-right: 5px;
    transition: transform 225ms;
}
.shopbop__cart img:hover, .shopbop__cart img:focus ,
.shopbop__hearts a:hover img, .shopbop__hearts a:focus img {
    transform: scale(1.2);
}
.shopbop__cartCount {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 2px 6px 2px 0;
    font-size: 14px;
    transition: font-size 225ms;
}
.shopbop__logo {
    position: relative;
    width: 1024px;
    height: 88px;
    margin: 0 auto;
    z-index: 10;
    border: thin solid gold;
}
.shopbop__logo a {
    display: block;
    margin: 0 auto 0 auto;
}
.shopbop__logo a img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 45px;
    margin: 27px auto 28px auto;
    transition: all 300ms ease-in-out;
}
.shopbop__navList > ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    line-height: 26px;
    font-size: 12px;
    text-align: left;
    color: var(--black);
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid black;
}
.shopbop__navList > ul > li {
    display: inline-flex;
    list-style: none;
    padding: 0 0 2px 0;
    font-size: 12px;
    line-height: 16px;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
}
.shopbop__navList > ul > li a {
    padding: 12px 0 5px 0;
    margin: 0 8px 0 8px!important;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--black);
    background: transparent;
    z-index: 1031;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all 225ms ease-in-out;
}
.shopbop__search {
    font-size: 1.5em;
}