.amzn__backArrow {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: bottom;
}
.amzn__rightArrowCarrot {
    margin-left: 10px;
    margin-right: 10px;
    height: 12px;
    width: 8px;
    vertical-align: middle;
}
.rightArrowDropRight {
    display: block;
    margin: -10px 0 -5px -10px;
    font-size: 33px;
    color: var(--black);
    text-align: left;
}