.lightbox__panel {
    font-size: 14px;
}
.popover__panel__review {
    width: 570px;
}
.popover__panel__viewGallery {
    display: inline-block;
    overflow: hidden;
    max-height: 30px;
    cursor: pointer;
}
.popover__panel__viewGallery span {
    margin: auto;
    text-align: center;
    font-weight: bold;
}
.popover__panel__content {
    height: 100%;
    margin-top: -4px;
}
.popover__imageContainer {
    position: relative;
    width: 529px;
    /* height: 100%; */
    height: 416px;
    /* margin-right: 310px; */
    background: black;
}
.popover__imageContainer img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.popover__imageInfo {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-basis: 310px;
    height: 416px;
    margin-top: -4px;
    padding-left: 18px;
    padding-bottom: 4px;
    background-color: var(--white);
}
.popover__imageHighlight {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-left: 5px;
    overflow: hidden;
    cursor: pointer;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    /* background-image: url(https://images-na.ssl-images-amazon.com/images/I/61DDN5WdKQL._SL256_.jpg); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.popover__imageSlideBtns {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 2px solid plum;
}
.popover__imageBackBtn, .popover__imageForwardBtn {
    position: absolute;
    content: "";
    width: 50%;
    bottom: 0;
    top: 0;
    z-index: 2;
    border: 2px solid tan;
    cursor: pointer;
}
.popover__imageBackBtn {
    left: 0;
}
.popover__imageForwardBtn {
    right: 0;
}
.popover__imageBackBtn button, .popover__imageForwardBtn button {
    position: absolute;
    width: 41px;
    height: 60px;
    top: 50%;
    opacity: 0;
    background: url('../../../../images/amzn-sprite-11.png') no-repeat;
    background-size: 306px 396px;
    z-index: 4;
}
.popover__imageBackBtn button {
    margin-left: 10px;
    background-position: -6px -8px;
}
.popover__imageForwardBtn button {
    margin-right: 10px;
    background-position: -80px -8px;
    right: 0;
}
.popover__imageSlideBtns:hover button,
.popover__imageSlideBtns:focus button {
    opacity: 0.25;
}








@media only screen and (min-width: 768px) {
    .popover__panel__review {
        width: 570px;
    }
}
@media only screen and (min-width: 1024px) {
    .popover__panel__review {
        width: 710px;
    }
}
@media only screen and (min-width: 1280px) {
    .popover__panel__review {
        position: relative;
        overflow: hidden;
        width: 845px;
        height: 450px;
    }
}

