.subNav {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 33px;
    margin: 0;
    padding: 0 9px 0 15px;
    border-top: 1px solid rgba(0,0,0,.17);
    border-bottom: 1px solid rgba(0,0,0,.1);
    white-space: nowrap;
    background: var(--grey-tone-37);
    z-index: 1;
}
.subNav > li > a {
    position: relative;
    display: block;
    height: 31px;
    line-height: 33px;
    color: var(--grey-tone-14);
    font-size: 12px;
    padding: 0 11px;
}
.subNav > li > a:hover, .subNav > li > a:focus {
    text-decoration: none;
}
.subNav > li > a:hover,
.subNav > li > a:focus {
    color: var(--ochre-5);
    border-bottom: 2px solid var(--ochre-26);
}
.subNav--default > li:first-child > a:hover,
.subNav--default > li:first-child > a:focus {
    border-bottom: none;
}
/* second styling for making first subnav item bold */
.subNav > li > a.active, .subNav > li.active > a {
    font-weight: 700;
}
.subNav .nav__arrow {
    position: absolute;
    top: 14px;
    right: 0px;
    left: auto;
    width: 0;
    height: 0;
    line-height: 0;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-top: 3px solid var(--grey-tone-86);
    border-bottom-width: 0;
    font-size: 3px;
    zoom: 1;
}
.subNav__handMade {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 50px;
    margin: 0;
    padding: 0 9px 0 15px;
    justify-content: flex-start;
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: var(--blue-19);
    background: var(--white);
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0 1px var(--grey-tone-24);
    white-space: nowrap;
    z-index: 1;
}
.subNav__handMade li {
    position: relative;
    flex: 0 0 auto;
    display: inline-block;
}
.subNav__handMade li a {
    height: 44px;
    line-height: 50px;
    padding: 0 17px;
    font-size: 12px;
    text-align: center;
    color: var(--grey-tone-14);
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
}
.subNav__handMade li a:hover span, .subNav__handMade li a:focus span {
    color: var(--blue-20);
    border-bottom: 2px solid var(--blue-20);
}
.subNav__handMade li a img {
    height: 46px;
    max-width: 100%;
    width: auto;
    padding-top: 5px;
}
.subNav__handMade li:last-child {
    flex: 0 0 auto;
    margin-left: auto;
}
.subNav__handMade li:last-child a {
    font-weight: 700;
    color: var(--blue-19);
}
.subNav--default li a.active {
    font-weight: normal;
}
.subNav--default .nav-link {
    padding: 0;
}