.popover__panel__panel {
    margin-bottom: 22px;
}
.popover__panel__panel {
    margin-bottom: 22px;
}
.popover__panel__list option {
    position: relative;
    background-color: var(--white);
}
.a__arrow__border {
    position: absolute;
    top: -8px;
    left: 115px;
    margin-left: -8px;
    border-top: 0;
    border-bottom-color: rgba(0,0,0,.2);
    border: 8px solid transparent;
	border-bottom: 9px solid rgba(0,0,0,.2);
}
.a__arrow__border {
    top: 60px;
    left: 0;
    border: 8px solid transparent;
}
.a__arrow__border.left {
    border-bottom-color: transparent;
	border-bottom: 9px solid transparent;
    border-right-color: rgba(0,0,0,.2);
	border-right: 9px solid rgba(0,0,0,.2);
}
.a__arrow__border.right {
    left: auto;
    right: -8px;
    border-bottom-color: transparent;
	border-bottom: 9px solid transparent;
    border-left-color: rgba(0,0,0,.2);
	border-left: 9px solid rgba(0,0,0,.2);
}
.a__arrow {
    position: absolute;
    display: block;
	top: -7px;
    right: -8px;
    width: 0;
    height: 0;
    z-index: 1011;
    border-top: 0;
	border: 8px solid transparent;
	border-bottom-color: var(--white);
}
.a__arrow__border.left .a__arrow {
    top: -8px;
    right: -9px;
    border-bottom-color: transparent;
    border-right-color: var(--white);
}
.a__arrow__border.right .a__arrow {
    top: -8px;
    right: 1px;
    left: auto;
    border-right: 0;
    border-bottom-color: transparent;
    border-left-color: var(--white);
}
.popover__panel__mini {
    display: inline-block;
    font-family: "Amazon Ember", Arial,sans-serif;
}
.popover__panel__mini .a__button__inner {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
}
.popover__panel__mini .a__button {
    border-radius: 2px !important;
}
.popover__panel__mini option {
    display: block;
    margin-left: 1px;
    padding: 2px 12px 1px 13px;
    line-height: 19px;
    font-size: 11px;
}
.balance__faq{
    padding: 80px;
}
/* .accordion__faq {
} */
.myx__button .dropdown-menu, .myx__button__dropdown .dropdown-menu {
    min-width: 71px;
    max-width: none;
    padding: 8px 0;
    margin: 1px 0 0;
    font-size: 13px;
    line-height: 19px;
    color: var(--grey-tone-14);
    border: 1px solid var(--grey-tone-5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 13%);
    background-color: var(--white);
    z-index: 1010;
    font-family: Arial, sans-serif !important;
}
.myx__button .dropdown-header {
    padding: 2px 12px 1px 13px;
    margin-left: 1px;
    line-height: 1.5 !important;
    font-size: 13px;
    white-space: nowrap;
    outline: 0;
    border: 1px solid transparent;
    color: var(--grey-tone-14);
}
.myx__button .dropdown-header:hover, 
.myx__button .dropdown-header:focus {
    border-color: var(--grey-tone-91);
    background-color: var(--grey-tone-1);
    opacity: .7;
    color: inherit;
}
.myx__button .dropdown-header.active {
    background-color: var(--grey-tone-1);
    border-color: var(--grey-tone-35);
    border-left-color: var(--ochre-5);
    border-right-color: var(--grey-tone-91);
}

.dropdownView {
    display: inline-flex;
    align-items: center;
    height: 1em;
}
.dropdownView__select {
    cursor: pointer;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.dropdownView__text {
    padding-right: 0.3em;
    font-size: 14px;
    color: var(--color-2);
    font-weight: bold;
}
.dropdownView__title {
    margin-left: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: bolder;
    font-size: 15px;
}
.dropdownView .a__popover__dropdown {
    left: -40px !important;
    min-width: 214px;
    font-size: 14px;
    color: var(--color-2);
}
.dropdownView .a__popover__dropdown .a__popover__inner {
    margin-top: 4px;
    padding: 12px 12px 0 0;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 1px rgb(68 68 68 / 60%);
    background-clip: border-box;
    border: 0;
}
.dropdownView .a__arrow__border {
    top: -5px;
    left: 30px;
}