.popover__panel__panel {
    margin-bottom: 22px;
}
.popover__panel__panel {
    margin-bottom: 22px;
}
.popover__panel__list option {
    position: relative;
    background-color: var(--white);
}
.a__arrow__border {
    position: absolute;
    top: -8px;
    left: 115px;
    margin-left: -8px;
    border-top: 0;
    border-bottom-color: rgba(0,0,0,.2);
    border: 8px solid transparent;
	border-bottom: 9px solid rgba(0,0,0,.2);
}
.a__arrow__border {
    top: 60px;
    left: 0;
    border: 8px solid transparent;
}
.a__arrow__border.left {
    border-bottom-color: transparent;
	border-bottom: 9px solid transparent;
    border-right-color: rgba(0,0,0,.2);
	border-right: 9px solid rgba(0,0,0,.2);
}
.a__arrow__border.right {
    left: auto;
    right: -8px;
    border-bottom-color: transparent;
	border-bottom: 9px solid transparent;
    border-left-color: rgba(0,0,0,.2);
	border-left: 9px solid rgba(0,0,0,.2);
}
.a__arrow {
    position: absolute;
    display: block;
	top: -7px;
    right: -8px;
    width: 0;
    height: 0;
    z-index: 1011;
    border-top: 0;
	border: 8px solid transparent;
	border-bottom-color: var(--white);
}
.a__arrow__border.left .a__arrow {
    top: -8px;
    right: -9px;
    border-bottom-color: transparent;
    border-right-color: var(--white);
}
.a__arrow__border.right .a__arrow {
    top: -8px;
    right: 1px;
    left: auto;
    border-right: 0;
    border-bottom-color: transparent;
    border-left-color: var(--white);
}
.popover__panel__mini {
    display: inline-block;
    font-family: "Amazon Ember", Arial,sans-serif;
}
.popover__panel__mini .a__button__inner {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
}
.popover__panel__mini .a__button {
    border-radius: 2px !important;
}
.popover__panel__mini option {
    display: block;
    margin-left: 1px;
    padding: 2px 12px 1px 13px;
    line-height: 19px;
    font-size: 11px;
}
.balance__faq{
    padding: 80px;
}
.accordion__faq {

}