/*card cells*/
.card__cell {
    width: 320px;
    padding-left: 0;
}
.card__cell__link {
    display: block;
    height: 100%;
    text-decoration: none;
}
.card__cell__title {
    margin-bottom: 0 !important;
    padding-bottom: 0;
    font-size: 17px;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
    color: var(--color-2);
}
.card__cell__row {
    margin-bottom: 20px;
}
.card__cell__link img {
    width: 65px;
    height: 65px;
}
.card__cell__imgContainer {
    text-align: right;
}
.card__cell__linkTitle {
    margin-bottom: 4px !important;
    padding-bottom: 4px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.3;
}