.page__header > aside {
    z-index: 100 !important;
}
.page__header > aside > div {
    background-color: rgba(0, 0, 0, 0.8) !important; 
}
.page__header > aside > nav {
    position: fixed;
    flex-direction: column;
    width: 365px;
    height: 100%;
    max-width: 365px !important;
    box-shadow: 4px 0 10px 0 rgba(0,0,0,.4);
    background-color: var(--white);
    will-change: transform;
}
.side__nav__close__icon {
    position: fixed;
    display: none;
    left: 380px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(../../../images/nav-sprite-1.png);
    background-position: -190px -288px;
    background-repeat: repeat-x;
}
.side__nav__close__icon.show {
    display: flex;
}
.side__nav__customer__profile {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--light-slate-gray);
}
.side__nav__avatar {
    display: flex;
    height: 25px;
    width: 27px;
    margin: 0 10px 0 36px;
    background-image: url(../../../images/nav-sprite-1.png);
    background-repeat: repeat-x;
    background-position: -137px -340px;
}
.side__nav__customer__name {
    display: inline-block;
    white-space: nowrap;
    font-size: 19px;
    max-width: 90%;
    line-height: 25px;
    color: var(--white);
    overflow: hidden;
    text-overflow: ellipsis;
}
.side__nav__menu {
    position: absolute;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    overflow: scroll;
    right: 0;
    left: 0;
    top: 50px;
    bottom: 0;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 30px;
    border: thin solid indigo;
}
.side__nav__menu__title {
    display: inline-block;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    -webkit-tap-highlight-color: transparent;
}
.side__nav__menu__title.side__nav__item {
    padding-bottom: 5px;
}
.side__nav__menu__trending {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 16px;
    font-size: 14px;
    will-change: transform;
    visibility: visible;
    border-bottom: 1px solid var(--grey-tone-21);
}
.side__nav__menu li {
    list-style: none;
    padding-bottom: 2px;
}
.side__nav__menu li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}
.side__nav__item {
    padding-right: 20px;
    padding-left: 36px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: var(--color-2);
}
a.side__nav__item {
    color: var(--color-2);
}
.side__nav__menu__icon__container {
    display: flex;
    width: 26px;
    align-items: center;
}
.side__nav__menu__icon__globe {
    position: relative;
    display: inline-block;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    background: url(../../../images/nav-sprite-2.png);
    background-position: -77px -51px;
}
.side__nav__menu__icon__globe.side__nav__menu__icon__canada {
    font-size: 14px;
    line-height: 16px;
    width: 18px;
    height: 12px;
    background-image: url(../../../images/nav-sprite-2.png);
    background-position: 0 -60px;
}