.page__footer {
    position: relative;
    min-width: 1000px;
    padding-bottom: 0;
    color: var(--grey-tone-24);
    background-color: var(--light-slate-gray);
    border: thin solid red;
}
.page__footer a:link, .page__footer a:visited {
    font-family: inherit;
    color: var(--blue);
    text-decoration: none;
}
.page__footer__to__top {
    display: block;
    margin-bottom: 40px;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
    background-color: var(--blue-2);
}
.page__footer__to__top:hover, 
.page__footer__to__top:focus {
    text-decoration: none;
    background-color: var(--blue-3);
}
.page__footer__back__to__top__text {
    display: block;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
    text-align: center;
    color: var(--white);
}
.page__footer__wrap {
    max-width: 1000px;
    margin: 0 auto;
    border: thin solid ivory;
}
.page__footer__column{
    border: thin solid orange;
}
.page__footer__menu {
    margin-bottom: 0;
}
.page__sub__footer {
    display: flex;
    justify-content: center;
}
.page__footer__colHead {
    margin: 6px 0 14px 0;
    line-height: 120%;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 700;
    color: var(--white)
}
.page__footer__list {
    margin: 0 0 10px;   
}
.page__footer__secondary .page__footer__list {
    flex-basis: 20%;
    padding: 0 .75em;
    font-size: 11px !important;
    line-height: 115%;
    vertical-align: top;
    text-align: left;
    border: thin solid purple;
}
.page__footer .page__footer__list a, 
.page__footer .page__footer__minor__list a {
    color: var(--grey-tone-24);
}
.page__sub__footer__descLink {
    display: inline-block;
    line-height: 110%;
    font-size: 10px;
    color: var(--grey-tone-28);
}
.page__footer__break {
    margin-top: 40px;
    border-top: 1px solid var(--grey-tone-27);
}
.page__footer__padItem {
    max-width: 1000px;
    margin: 10px auto;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    color: var(--grey-tone-24);
    border: thin solid maroon;
}
.page__footer__logo {
    display: inline-block;
    max-width: 1000px;
    padding: 0 .6em;
    width: 76px;
    height: 23px;
    margin: 30px 0 15px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    color: var(--blue);
    background-image: url('../../images/nav-sprite-1.png');
    background-repeat: repeat-x;
    background-position: -10px -90px;
    border: thin solid lime;
}
.page__footer__buttonset {
    display: inline-block;
    margin: 18px 0 0;
    padding: 0 .6em;
    margin-left: 70px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: var(--grey-tone-24);
    border: thin solid gold;
}
.page__footer__buttonset .btn.btn-outline-secondary {
    list-style-type: none;
    text-align: center;
    line-height: 18px;
    box-sizing: border-box;
    display: inline-block!important;
    border: 1px solid var(--grey-tone-29);
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 13px;
    margin-right: 4px;
    white-space: normal;
    font-family: inherit;
    color: var(--blue);
    text-decoration: none;
}
.page__footer__langToggle {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    color: var(--grey-tone-24);
    border: thin solid forestgreen;
}
.page__footer__langLink {
    display: inline-block !important;
    padding: 6px 18px 6px 8px;
    margin-right: 4px;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    white-space: normal;
    border: 1px solid var(--grey-tone-29);
    background-color: transparent;
}
.page__footer__langLink:not(:disabled):not(.disabled).active, 
.page__footer__langLink:not(:disabled):not(.disabled):active, 
.show > .page__footer__langLink.dropdown-toggle,
.page__footer__langLink:hover {
    background-color: transparent;
}
.page__footer__downUpArrow {
    position: relative;
    display: inline-block;
    left: 12px;
    line-height: 18px;
    width: 12px;
    height: 12px;
    padding: 0 .6em;
    font-size: 13px;
    text-align: center;
    color: var(--blue);
    background: url('../../images/nav-sprite-2.png');
    background-position: -77px -80px;
}
.page__footer__secondary {
    padding: 30px 0;
    margin: 30px 0 0;
    font-size: 12px;
    color: var(--grey-tone-24);
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
    background-color: var(--blue-4);
}
.page__footer__minor {
    max-width: 100%;
    padding: 10px 0 30px;
    margin: 0;
    font-size: 12px;
    text-align: center;
    background-color: var(--blue-4);
}
.page__footer__minor__list {
    display: inline-block;
    margin-bottom: 0;
    border: thin solid orchid;
}
.page__footer__minor__list li {
    display: inline-block;
}
.page__footer__minor .page__footer__minor__list li {
    padding: 0 .6em;
    line-height: 18px;
    font-size: 12px;
    list-style: disc;
    color: var(--grey-tone-24);    
}
.page__footer__langSetting {
    margin-top: -8px;
}
.page__footer__langLabel {
    display: block;
    position: relative;
    font-weight: 400;
    color: #0F1111;
    margin-left: 3px;
    top: -2px;
    padding-bottom: 0;
    padding-left: 19px;
    text-indent: -19px;
}
.page__footer__langInput {
    vertical-align: top;
    height: 17px;
    width: 17px;
    opacity: .02;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    bottom: auto;
    left: 0;
    z-index: -1;
    border: 0 none;
}
.icp__divider {
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid var(--grey-tone-35);
    line-height: 19px;
    margin-top: 8px !important;
    margin-bottom: 12px !important;
    max-width: 300px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: left;
}