.secondary__nav {
    counter-reset: section;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1.2px;
}
.secondary__nav:before {
    display: block;
    margin-bottom: 50px;
    line-height: 1.1;
    font-size: 48px;
    font-weight: normal;
    color: var(--grey-tone-60);
    letter-spacing: -.2px;
}
.secondary__navList li {
    counter-reset: subsection;
    margin-bottom: 15px;
    padding-left: 34px;
    text-indent: -34px;
}
.secondary__navList li:before {
    counter-increment: section;
    content: '0'counter(section);
    padding-right: 11px;
    color: var(--grey-tone-60);
}
.secondary__navList li a {
    position: relative;
    color: var(--black);
    font-weight: 700;
}
.secondary__navList li a[rel="external"]:after {
    content: ' ';
    background-image: url('../../../../images/external-link.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    height: 15px;
    width: 15px;
    bottom: 2px;
    top: auto;
    right: -20px;
}