.investor__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}
.investor__headerPane {
    height: 60px;
    background: rgba(0,0,0,.8);
}
.layout__toggle {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 8px 0 0 15px;
    font-size: 4rem;
    color: var(--white);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: opacity 250ms;
}
.layout__toggleBars {
    margin-top: 9px;
}
.investor__moduleLink {
    position: absolute;
    display: inline-block;
    width: 140px;
    top: 40px;
    left: 50%;
    margin-top: 17px;
    transform: translateX(-50%);
}
.moduleSearch {
    margin: 0 20px 0 0;
    color: var(--white);
    font-size: 3.3rem;
    cursor: pointer;
    line-height: 1;
}
.investor__moduleLang {
    margin: 23px 35px 0 0;
}
.investor__moduleLang--toggle {
    display: block;
    padding: 26px 6px 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.1px;
    color: var(--white);
    cursor: pointer;
    background: url('../../../images/world-icon-white.png') 4px 0 no-repeat;
    background-size: 76%;
}




@media only screen and (min-width: 768px) {
    .investor__headerPane {
        height: 80px;
        background: linear-gradient(to top,rgba(0,0,0,0),#000);
    }
    .investor__moduleLogo {
        position: relative;
        width: 320px;
        padding: 17px 0 22px 35px;
        z-index: 121;
    }
    .investor__moduleLink {
        position: relative;
        left: auto;
        top: 9px;
        margin: 0 0 0 16px;
        vertical-align: middle;
        transform: none;
    }
    .moduleSearch {
        font-size: 2rem;
    }
}
@media only screen and (min-width: 1024px) {
    .investor__headerPane {
        height: 100px;
    }
    .investor__moduleLogo {
        width: 370px;
        padding: 21px 0 29px 35px;
    }
    .investor__moduleLang {
        margin-top: 10px;
    }
}