.popover__panel__countryNav {
    margin-bottom: 14px;
}
.popover__panel__countryNav__inner {
    margin-bottom: 28px !important;
}
.popover__panel__country {
    font-size: 14px;
}
.popover__panel__country__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 22px;
}
.popover__panel__notes .popover__panel__country__title {
    margin-bottom: 4px;
}
.popover__panel__list option {
    position: relative;
    background-color: var(--white);
}
.popover__panel__footer {
    padding: 8px 24px 24px;
    margin: 0;
    text-align: right;
    border-radius: 0 0 8px 8px;
}
.a__button__cancel {
    margin-right: 7px;
}